In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\user\Desktop\#\DA\practice\python\E - commerce\cleaned_data sets\merged_data.csv")

# EXPLORATORY DATA ANALYSIS [EDA]

In [4]:
# Initial Data Inspection
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118434 entries, 0 to 118433
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  object
 4   order_approved_at              118434 non-null  object
 5   order_delivered_carrier_date   118434 non-null  object
 6   order_delivered_customer_date  118434 non-null  object
 7   order_estimated_delivery_date  118434 non-null  object
 8   order_item_id                  118434 non-null  int64
 9   product_id                     118434 non-null  int64
 10  seller_id                      118434 non-null  int64
 11  shipping_limit_date            118434 non-null  object
 12  price                          118434 non-null  float64
 13  freight_value                  118434 non-null  float64
 14  product_category_name          118434 non-null  object
 15  product_category_name_eng      118434 non-null  object
 16  product_weight_g               118434 non-null  int64
 17  customer_unique_id             118434 non-null  object
 18  customer_zip_code_prefix       118434 non-null  int64
 19  customer_city                  118434 non-null  object
 20  customer_state                 118434 non-null  object
 21  payment_sequential             118434 non-null  int64
 22  payment_type                   118434 non-null  object
 23  payment_installments           118434 non-null  int64
 24  payment_value                  118434 non-null  float64
 25  seller_zip_code_prefix         118434 non-null  int64
 26  seller_city                    118434 non-null  object
 27  seller_state                   118434 non-null  object
dtypes: float64(3), int64(8), object(17)
memory usage: 25.3+ MB

In [5]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,10/2/2017 10:56,10/2/2017 11:07,10/4/2017 19:55,10/10/2017 21:25,10/18/2017,1,-1,...,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,10/2/2017 10:56,10/2/2017 11:07,10/4/2017 19:55,10/10/2017 21:25,10/18/2017,1,-1,...,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,10/2/2017 10:56,10/2/2017 11:07,10/4/2017 19:55,10/10/2017 21:25,10/18/2017,1,-1,...,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,7/24/2018 20:41,7/26/2018 3:24,7/26/2018 14:31,8/7/2018 15:27,8/13/2018,1,-1,...,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,8/8/2018 8:38,8/8/2018 8:55,8/8/2018 13:50,8/17/2018 18:06,9/4/2018,1,-1,...,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP

In [6]:
df.tail()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
118429,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2/6/2018 12:58,2/6/2018 13:10,2/7/2018 23:22,2/28/2018 17:37,3/2/2018,1,-1,...,11722,praia grande,SP,1,credit_card,3,195.00,17602,tupa,SP
118430,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,8/27/2017 14:46,8/27/2017 15:04,8/28/2017 20:52,9/21/2017 11:24,9/27/2017,1,-1,...,45920,nova vicosa,BA,1,credit_card,5,271.01,8290,sao paulo,SP
118431,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,1/8/2018 21:28,1/8/2018 21:36,1/12/2018 15:35,1/25/2018 23:32,2/15/2018,1,-1,...,28685,japuiba,RJ,1,credit_card,4,441.16,37175,ilicinea,MG
118432,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,1/8/2018 21:28,1/8/2018 21:36,1/12/2018 15:35,1/25/2018 23:32,2/15/2018,2,-1,...,28685,japuiba,RJ,1,credit_card,4,441.16,37175,ilicinea,MG
118433,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,3/8/2018 20:57,3/9/2018 11:20,3/9/2018 22:11,3/16/2018 13:08,4/3/2018,1,-1,...,83750,lapa,PR,1,debit_card,1,86.86,14407,franca,SP

In [7]:
df.describe()

,order_item_id,product_id,seller_id,price,freight_value,product_weight_g,customer_zip_code_prefix,payment_sequential,payment_installments,payment_value,seller_zip_code_prefix
count,118434.000000,118434.0,118434.0,118434.000000,118434.000000,118434.000000,118434.000000,118434.000000,118434.000000,118434.000000,118434.000000
mean,1.180531,-1.0,-1.0,120.501016,20.019232,2099.225096,35034.264392,1.094179,2.937349,172.847757,24271.587737
std,0.718999,0.0,0.0,183.869718,15.808778,3779.295179,29819.290218,0.728301,2.774146,268.256631,27552.566412
min,-1.000000,-1.0,-1.0,0.850000,0.000000,0.000000,1003.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,-1.0,-1.0,39.900000,13.080000,300.000000,11310.000000,1.000000,1.000000,60.860000,6180.000000
50%,1.000000,-1.0,-1.0,74.900000,16.290000,700.000000,24240.000000,1.000000,2.000000,108.200000,13488.500000
75%,1.000000,-1.0,-1.0,133.000000,21.150000,1800.000000,58464.500000,1.000000,4.000000,189.240000,27277.000000
max,21.000000,-1.0,-1.0,6735.000000,409.680000,40425.000000,99990.000000,29.000000,24.000000,13664.080000,99730.000000

In [8]:
df.describe(include=['object'])

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,product_category_name,product_category_name_eng,customer_unique_id,customer_city,customer_state,payment_type,seller_city,seller_state
count,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434,118434
unique,99441,99441,8,88789,50610,63124,78196,459,54615,75,72,96096,4119,27,6,612,24
top,895ab968e7bb0d5659d16cd74cd1650c,270c23a11d024a44c896d1894b261a83,delivered,8/8/2017 20:26,1/10/2018 10:32,8/10/2017 11:58,8/14/2017 12:46,12/20/2017,1/25/2018 11:57,cama_mesa_banho,bed_bath_table,9a736b248f67d166d2fbb006bcb877c3,sao paulo,SP,credit_card,sao paulo,SP
freq,63,63,115038,63,121,63,63,656,834,11823,11823,75,18738,49967,87286,29157,83854

In [165]:
# Missing Values Analysis
print(df.isnull().sum())

order_id                             0
customer_id                          0
order_status                         0
order_approved_at                    0
order_delivered_carrier_date         0
order_delivered_customer_date        0
order_estimated_delivery_date        0
order_item_id                        0
product_id                           0
seller_id                            0
shipping_limit_date                  0
price                                0
freight_value                        0
product_category_name                0
product_category_name_eng            0
product_weight_g                     0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
payment_sequential                   0
payment_type                         0
payment_installments                 0
payment_value                        0
seller_zip_code_prefix               0
seller_city                          0
seller_state                         0
cumsum_price                         0
cumulative_price                     0
delivery_time_days                   0
order_year                           0
order_month                          0
delivery_days                        0
delivery_time                        0
price_category                   14002
fast_delivery                        0
location                             0
city_part1                           0
city_part2                       57045
price_z                              0
freight_value_z                      0
payment_value_z                      0
payment_type_encoded                 0
product_category_label               0
cumulative_price_seller              0
cumulative_freight_value             0
cumulative_price_per_product         0
rolling_mean_price                   1
rolling_sum_payment                  0
rolling_std_freight                 13
rolling_max_payment                 15
rolling_min_price                   89
previous_price                       1
payment_value_shift_3                3
previous_order_date                  1
price_change                         1
freight_value_lag_2                  2
z_score_payment                      0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118434 entries, 0 to 118433
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  object
 4   order_approved_at              118434 non-null  object
 5   order_delivered_carrier_date   118434 non-null  object
 6   order_delivered_customer_date  118434 non-null  object
 7   order_estimated_delivery_date  118434 non-null  object
 8   order_item_id                  118434 non-null  int64
 9   product_id                     118434 non-null  int64
 10  seller_id                      118434 non-null  int64
 11  shipping_limit_date            118434 non-null  object
 12  price                          118434 non-null  float64
 13  freight_value                  118434 non-null  float64
 14  product_category_name          118434 non-null  object
 15  product_category_name_eng      118434 non-null  object
 16  product_weight_g               118434 non-null  int64
 17  customer_unique_id             118434 non-null  object
 18  customer_zip_code_prefix       118434 non-null  int64
 19  customer_city                  118434 non-null  object
 20  customer_state                 118434 non-null  object
 21  payment_sequential             118434 non-null  int64
 22  payment_type                   118434 non-null  object
 23  payment_installments           118434 non-null  int64
 24  payment_value                  118434 non-null  float64
 25  seller_zip_code_prefix         118434 non-null  int64
 26  seller_city                    118434 non-null  object
 27  seller_state                   118434 non-null  object
dtypes: float64(3), int64(8), object(17)
memory usage: 25.3+ MB

In [11]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'product_category_name',
       'product_category_name_eng', 'product_weight_g', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')

### Changing the columns to appropite data types

In [12]:
df['order_id'] = df['order_id'].astype(str)  # Identifier columns
df['customer_id'] = df['customer_id'].astype(str)
df['order_status'] = df['order_status'].astype(str)  # Categorical/text data
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'], errors='coerce')  # DateTime
df['order_approved_at'] = pd.to_datetime(df['order_approved_at'], errors='coerce')  # DateTime
df['order_delivered_carrier_date'] = pd.to_datetime(df['order_delivered_carrier_date'], errors='coerce')  # DateTime
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'], errors='coerce')  # DateTime
df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'], errors='coerce')  # DateTime
df['order_item_id'] = pd.to_numeric(df['order_item_id'], errors='coerce')  # Integer
df['product_id'] = df['product_id'].astype(str)  # Identifier
df['seller_id'] = df['seller_id'].astype(str)  # Identifier
df['shipping_limit_date'] = pd.to_datetime(df['shipping_limit_date'], errors='coerce')  # DateTime
df['price'] = pd.to_numeric(df['price'], errors='coerce')  # Numeric
df['freight_value'] = pd.to_numeric(df['freight_value'], errors='coerce')  # Numeric
df['product_category_name'] = df['product_category_name'].astype(str)  # Categorical/text data
df['product_weight_g'] = pd.to_numeric(df['product_weight_g'], errors='coerce')  # Numeric
df['customer_unique_id'] = df['customer_unique_id'].astype(str)  # Identifier
df['customer_zip_code_prefix'] = df['customer_zip_code_prefix'].astype(str)  # Categorical/text data
df['customer_city'] = df['customer_city'].astype(str)  # Categorical/text data
df['customer_state'] = df['customer_state'].astype(str)  # Categorical/text data
df['payment_sequential'] = pd.to_numeric(df['payment_sequential'], errors='coerce')  # Numeric
df['payment_type'] = df['payment_type'].astype(str)  # Categorical/text data
df['payment_installments'] = pd.to_numeric(df['payment_installments'], errors='coerce')  # Numeric
df['payment_value'] = pd.to_numeric(df['payment_value'], errors='coerce')  # Numeric
df['seller_zip_code_prefix'] = df['seller_zip_code_prefix'].astype(str)  # Categorical/text data
df['seller_city'] = df['seller_city'].astype(str)  # Categorical/text data
df['seller_state'] = df['seller_state'].astype(str)  # Categorical/text data
df['product_category_name_eng'] = df['product_category_name_eng'].astype(str)  # Categorical/text data

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118434 entries, 0 to 118433
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  datetime64[ns]
 4   order_approved_at              118434 non-null  datetime64[ns]
 5   order_delivered_carrier_date   118434 non-null  datetime64[ns]
 6   order_delivered_customer_date  118434 non-null  datetime64[ns]
 7   order_estimated_delivery_date  118434 non-null  datetime64[ns]
 8   order_item_id                  118434 non-null  int64
 9   product_id                     118434 non-null  object
 10  seller_id                      118434 non-null  object
 11  shipping_limit_date            118434 non-null  datetime64[ns]
 12  price                          118434 non-null  float64
 13  freight_value                  118434 non-null  float64
 14  product_category_name          118434 non-null  object
 15  product_category_name_eng      118434 non-null  object
 16  product_weight_g               118434 non-null  int64
 17  customer_unique_id             118434 non-null  object
 18  customer_zip_code_prefix       118434 non-null  object
 19  customer_city                  118434 non-null  object
 20  customer_state                 118434 non-null  object
 21  payment_sequential             118434 non-null  int64
 22  payment_type                   118434 non-null  object
 23  payment_installments           118434 non-null  int64
 24  payment_value                  118434 non-null  float64
 25  seller_zip_code_prefix         118434 non-null  object
 26  seller_city                    118434 non-null  object
 27  seller_state                   118434 non-null  object
dtypes: datetime64[ns](6), float64(3), int64(4), object(15)
memory usage: 25.3+ MB

In [14]:
df.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
product_category_name            0
product_category_name_eng        0
product_weight_g                 0
customer_unique_id               0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
dtype: int64

In [15]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,...,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,...,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,...,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,...,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,...,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP

In [16]:
# Set the display option to show all columns
pd.set_option('display.max_columns', None)
# Set the display option to show all rows
pd.set_option('display.max_rows', None)

In [17]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'product_category_name',
       'product_category_name_eng', 'product_weight_g', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')

In [18]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP

In [19]:
df.shape

(118434, 28)

##  Data Filtering

In [20]:
# Filtering rows where order_status is 'delivered'
df_delivered = df[df['order_status'] == 'delivered']
df_delivered.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP

In [21]:
# Filtering multiple conditions
df_filtered_m = df[(df['price'] > 100) & (df['order_status'] == 'shipped')]
df_filtered_m.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
278,4d630f57194f5aba1a3d12ce23e71cd9,6d491c9fe2f04f6e2af6ec033cd8907c,shipped,2017-11-17 19:53:00,2017-11-18 19:50:00,2017-11-22 17:28:00,2017-11-17 19:53:00,2017-12-13,1,-1,-1,2017-11-23 19:50:00,199.9,40.33,esporte_lazer,sports_leisure,8100,7eb6b25c03556dfd2a2ee982f42074c2,91450,porto alegre,RS,1,credit_card,2,240.23,1239,sao paulo,SP
355,3b4ad687e7e5190db827e1ae5a8989dd,1a87b8517b7d31373b50396eb15cb445,shipped,2018-06-28 12:52:00,2018-06-28 13:11:00,2018-07-04 15:20:00,2018-06-28 12:52:00,2018-08-03,1,-1,-1,2018-07-04 13:11:00,844.0,21.01,relogios_presentes,watches_gifts,542,1c13e7a690e418f5a133c8a219b5a124,20910,rio de janeiro,RJ,1,credit_card,10,865.01,9920,diadema,SP
361,b68d69564a79dea4776afa33d1d2fcab,de1e5517fb50896bbdcff5814fb31802,shipped,2018-02-28 08:57:00,2018-02-28 10:40:00,2018-03-05 16:10:00,2018-02-28 08:57:00,2018-03-23,1,-1,-1,2018-03-06 10:11:00,245.9,16.47,pet_shop,pet_shop,144,2c87620a0cba3dc7cdaf2617928d15d7,24426,sao goncalo,RJ,1,credit_card,9,262.37,19820,taruma,SP
445,5869074071e0f56e9085dc3742c97b2a,7203eb38fea2b4a15dd6c39575314aa4,shipped,2018-06-08 20:06:00,2018-06-12 04:35:00,2018-06-12 14:09:00,2018-06-08 20:06:00,2018-06-28,1,-1,-1,2018-06-15 04:31:00,300.0,20.18,esporte_lazer,sports_leisure,3600,c59ba65efe3622bcfaf929ecd5fbfbf5,11740,itanhaem,SP,1,boleto,1,320.18,13250,itatiba,SP
696,f633c884a99eb63866600655356d973e,b6e18008af6aeb4a5ce5574c15ca2b48,shipped,2018-04-04 00:33:00,2018-04-04 00:48:00,2018-04-05 19:16:00,2018-04-04 00:33:00,2018-04-25,1,-1,-1,2018-04-10 00:48:00,599.0,20.90,relogios_presentes,watches_gifts,757,4919652599408c4cdb93218f74137435,41219,salvador,BA,1,credit_card,7,619.90,9920,diadema,SP

In [22]:
# Filtering rows where 'customer_city' contains the substring 'Rio'
df_rio_customers = df[df['customer_city'].str.contains('Rio', case=False)]
df_rio_customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
13,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:00,2017-05-16 19:50:00,2017-05-18 11:40:00,2017-05-29 11:18:00,2017-06-07,1,-1,-1,2017-05-22 19:50:00,99.0,30.53,ferramentas_jardim,garden_tools,9000,f2a85dec752b8517b5e58a06ff3cd937,20780,rio de janeiro,RJ,1,credit_card,1,259.06,29156,cariacica,ES
14,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:00,2017-05-16 19:50:00,2017-05-18 11:40:00,2017-05-29 11:18:00,2017-06-07,2,-1,-1,2017-05-22 19:50:00,99.0,30.53,ferramentas_jardim,garden_tools,9000,f2a85dec752b8517b5e58a06ff3cd937,20780,rio de janeiro,RJ,1,credit_card,1,259.06,29156,cariacica,ES
20,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,2018-01-02 19:00:00,2018-01-02 19:09:00,2018-01-03 18:19:00,2018-01-20 01:38:00,2018-02-06,1,-1,-1,2018-01-12 19:09:00,1299.0,77.45,construcao_ferramentas_construcao,construction_tools_construction,20850,6e26bbeaa107ec34112c64e1ee31c0f5,21381,rio de janeiro,RJ,1,credit_card,10,1376.45,8840,mogi das cruzes,SP
31,fbf9ac61453ac646ce8ad9783d7d0af6,3a874b4d4c4b6543206ff5d89287f0c3,delivered,2018-02-20 23:46:00,2018-02-22 02:30:00,2018-02-26 22:25:00,2018-03-21 22:03:00,2018-03-12,1,-1,-1,2018-02-28 02:30:00,109.9,15.53,cool_stuff,cool_stuff,500,a25d5f94840d3c6a1a49f271ed83f4ec,21715,rio de janeiro,RJ,1,boleto,1,125.43,9220,santo andre,SP
52,6ebaec694d7025e2ad4a05dba887c032,4f28355e5c17a4a42d3ce2439a1d4501,delivered,2017-05-18 13:55:00,2017-05-18 14:05:00,2017-05-19 12:01:00,2017-05-29 12:47:00,2017-06-09,1,-1,-1,2017-05-24 14:05:00,139.0,14.72,ferramentas_jardim,garden_tools,8875,4acce2834231e13b1514915adda5ec2b,21910,rio de janeiro,RJ,1,credit_card,7,153.72,29156,cariacica,ES

In [23]:
# Filtering rows where 'order_status' is either 'shipped' or 'delivered' and 'payment_type' is 'credit_card'
df_filtered_p = df[(df['order_status'].isin(['shipped', 'delivered'])) & (df['payment_type'] == 'credit_card')]
df_filtered_p.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP
5,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:00,2017-11-18 19:45:00,2017-11-22 13:39:00,2017-12-02 00:28:00,2017-12-15,1,-1,-1,2017-11-23 19:45:00,45.00,27.20,pet_shop,pet_shop,450,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,1,credit_card,1,72.20,31842,belo horizonte,MG
6,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:00,2018-02-13 22:20:00,2018-02-14 19:46:00,2018-02-16 18:17:00,2018-02-26,1,-1,-1,2018-02-19 20:31:00,19.90,8.72,papelaria,stationery,250,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,1,credit_card,1,28.62,8752,mogi das cruzes,SP
7,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:00,2017-07-09 22:10:00,2017-07-11 14:58:00,2017-07-26 10:57:00,2017-08-01,1,-1,-1,2017-07-13 22:10:00,147.90,27.36,automotivo,auto,7150,80bb27c7c16e8f973207a5086ab329e2,86320,congonhinhas,PR,1,credit_card,6,175.26,7112,guarulhos,SP

In [24]:
# Filtering rows where the order was delivered later than the estimated delivery date
df_late_delivery = df[df['order_delivered_customer_date'] > df['order_estimated_delivery_date']]
df_late_delivery.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state
26,203096f03d82e0dffbc41ebc2e2bcfb7,d2b091571da224a1b36412c18bc3bbfe,delivered,2017-09-18 14:31:00,2017-09-19 04:04:00,2017-10-06 17:50:00,2017-10-09 22:23:00,2017-09-28,1,-1,-1,2017-09-25 04:04:00,109.90,8.96,beleza_saude,health_beauty,525,d699688533772c15a061e8ce81cb56df,4001,sao paulo,SP,1,boleto,1,118.86,4438,sao paulo,SP
31,fbf9ac61453ac646ce8ad9783d7d0af6,3a874b4d4c4b6543206ff5d89287f0c3,delivered,2018-02-20 23:46:00,2018-02-22 02:30:00,2018-02-26 22:25:00,2018-03-21 22:03:00,2018-03-12,1,-1,-1,2018-02-28 02:30:00,109.90,15.53,cool_stuff,cool_stuff,500,a25d5f94840d3c6a1a49f271ed83f4ec,21715,rio de janeiro,RJ,1,boleto,1,125.43,9220,santo andre,SP
42,8563039e855156e48fccee4d611a3196,5f16605299d698660e0606f7eae2d2f9,delivered,2018-02-17 15:59:00,2018-02-17 16:15:00,2018-02-20 23:03:00,2018-03-20 00:59:00,2018-03-20,1,-1,-1,2018-02-22 15:15:00,78.00,28.95,ferramentas_jardim,garden_tools,850,92fd8aa5948e20c43a014c44c025c5e1,77480,alvorada,TO,1,credit_card,4,106.95,4782,sao paulo,SP
48,6ea2f835b4556291ffdc53fa0b3b95e8,c7340080e394356141681bd4c9b8fe31,delivered,2017-11-24 21:27:00,2017-11-25 00:21:00,2017-12-13 21:14:00,2017-12-28 18:59:00,2017-12-21,1,-1,-1,2017-11-30 00:21:00,339.00,17.12,utilidades_domesticas,housewares,14300,3e4fd73f1e86b135b9b121d6abbe9597,19400,presidente venceslau,SP,1,credit_card,10,356.12,89165,rio do sul,SC
65,66e4624ae69e7dc89bd50222b59f581f,684fa6da5134b9e4dab731e00011712d,delivered,2018-03-09 14:50:00,2018-03-09 15:40:00,2018-03-15 00:31:00,2018-04-03 13:28:00,2018-04-02,1,-1,-1,2018-03-15 15:30:00,22.99,22.85,telefonia,telephony,150,ddf60e20e6e262e2136801ce5cd628b0,49030,aracaju,SE,1,credit_card,9,91.68,3126,sao paulo,SP

In [25]:
# Filtering rows where 'product_category_name' starts with 'e'
df_filtered_pro = df[df['product_category_name_eng'].str.contains('^e', regex=True, na=False)]
df_filtered_pro["product_category_name_eng"].head(12)

28     electronics
43     electronics
209    electronics
453    electronics
454    electronics
493    electronics
556    electronics
581    electronics
604    electronics
616    electronics
665    electronics
771    electronics
Name: product_category_name_eng, dtype: object

In [26]:
# Filtering rows where 'order_delivered_customer_date' is null
df_null_delivery = df[df['order_delivered_customer_date'].isnull()]
df_null_delivery

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value, product_category_name, product_category_name_eng, product_weight_g, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, payment_sequential, payment_type, payment_installments, payment_value, seller_zip_code_prefix, seller_city, seller_state]
Index: []

In [27]:
# Filtering rows using query function with complex conditions
df_filtered_q = df.query("price > 1000 and order_status == 'shipped'")
df_filtered_q[["price", "order_status"]]

         price order_status
4518   2150.00      shipped
9713   2110.00      shipped
35661  1399.00      shipped
50569  1599.99      shipped
67650  1300.00      shipped
71608  1697.00      shipped
95079  1989.00      shipped

In [28]:
# Filtering rows where length of 'customer_city' is greater than 10
df_filtered_cus = df[df['customer_city'].str.len() > 10]
df_filtered_cus["customer_city"].head()

5     sao goncalo do amarante
6                 santo andre
7                congonhinhas
10               faxinalzinho
13             rio de janeiro
Name: customer_city, dtype: object

In [29]:
# Filtering rows where both 'price' and 'freight_value' are greater than 100
df_filtered_freight = df[(df[['price', 'freight_value']] > 400).all(axis=1)]
df_filtered_freight[["price", "freight_value"]]

       price  freight_value
60066  979.0         409.68

In [30]:
# Filtering rows where cumulative sum of 'price' exceeds 10,000
df['cumsum_price'] = df['price'].cumsum()
df_filtered_cum = df[df['cumsum_price'] > 10000]
df_filtered_cum[["price", "cumsum_price"]].head()

     price  cumsum_price
95   24.99      10018.36
96  219.00      10237.36
97  219.00      10456.36
98   93.00      10549.36
99   93.00      10642.36

In [31]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57

In [32]:
# Filterind rows where sum of 'price' and 'freight_value' exceeds 300
df_filtered_f_p = df[df.apply(lambda row: row['price'] + row['freight_value'], axis=1) > 300]
df_filtered_f_p[["price","freight_value"]].head()

     price  freight_value
20  1299.0          77.45
37   279.0          34.19
45   445.0          63.17
48   339.0          17.12
61   369.0          17.33

In [33]:
df_filtered_time.head()

NameError: name 'df_filtered_time' is not defined

In [96]:
# Filter ingrows where the delivery time is greater than 7 days
df['delivery_time'] = (df['order_delivered_customer_date'] - df['order_purchase_timestamp']).dt.days
df_filtered_time = df[df['delivery_time'] > 7]
df_filtered_time.head(6)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,delivery_time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,8
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,8
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,8
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,13
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,9
5,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:00,2017-11-18 19:45:00,2017-11-22 13:39:00,2017-12-02 00:28:00,2017-12-15,1,-1,-1,2017-11-23 19:45:00,45.00,27.20,pet_shop,pet_shop,450,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,1,credit_card,1,72.20,31842,belo horizonte,MG,413.57,13

In [101]:
# Ensure 'order_purchase_timestamp' is datetime
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])

# Filter orders within the specified date range
df_2021 = df[(df['order_purchase_timestamp'] >= '2021-01-01') & 
            (df['order_purchase_timestamp'] <= '2021-12-31')]
df_2021

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value, product_category_name, product_category_name_eng, product_weight_g, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, payment_sequential, payment_type, payment_installments, payment_value, seller_zip_code_prefix, seller_city, seller_state, cumsum_price, delivery_time]
Index: []

In [102]:
# date with hightest order
# 1. Extract the date from 'order_purchase_timestamp' and create a new column 'order_date'
df['order_date'] = df['order_purchase_timestamp'].dt.date

# 2. Group by 'order_date' and count the number of orders per date
order_counts = df.groupby('order_date').size()

# 3. Find the date with the maximum number of orders
max_order_date = order_counts.idxmax()
max_order_count = order_counts.max()

print(f"The date with the highest number of orders is {max_order_date} with {max_order_count} orders.")

The date with the highest number of orders is 2017-11-24 with 1420 orders.

In [104]:
# date with hightest order in list form 
# 1. Extract the date from 'order_purchase_timestamp' and create a new column 'order_date'
df['order_date'] = df['order_purchase_timestamp'].dt.date

# 2. Group by 'order_date' and counting the number of orders per date
order_counts = df.groupby('order_date').size()

# 3. Sorting the dates based on the number of orders in descending order
sorted_order_counts = order_counts.sort_values(ascending=False)

# 4. Converting the sorted result into a list of tuples (date, number of orders)
sorted_order_list = list(sorted_order_counts.items())

# to Display the sorted list
for date, count in sorted_order_list:
    print(f"Date: {date}, Number of Orders: {count}")

Date: 2017-11-24, Number of Orders: 1420
Date: 2017-11-25, Number of Orders: 622
Date: 2017-11-27, Number of Orders: 499
Date: 2017-11-26, Number of Orders: 481
Date: 2017-11-28, Number of Orders: 453
Date: 2018-08-06, Number of Orders: 445
Date: 2018-08-07, Number of Orders: 444
Date: 2018-05-15, Number of Orders: 441
Date: 2018-05-07, Number of Orders: 429
Date: 2018-05-14, Number of Orders: 425
Date: 2018-05-16, Number of Orders: 419
Date: 2018-05-09, Number of Orders: 409
Date: 2017-11-29, Number of Orders: 388
Date: 2018-07-31, Number of Orders: 388
Date: 2018-05-08, Number of Orders: 387
Date: 2017-12-04, Number of Orders: 379
Date: 2018-02-14, Number of Orders: 378
Date: 2018-03-19, Number of Orders: 376
Date: 2018-01-22, Number of Orders: 375
Date: 2018-01-16, Number of Orders: 375
Date: 2018-08-16, Number of Orders: 374
Date: 2018-02-22, Number of Orders: 374
Date: 2018-05-03, Number of Orders: 373
Date: 2018-02-27, Number of Orders: 373
Date: 2018-04-19, Number of Orders: 371
Date: 2018-03-20, Number of Orders: 369
Date: 2018-08-01, Number of Orders: 369
Date: 2018-05-02, Number of Orders: 369
Date: 2018-08-08, Number of Orders: 366
Date: 2018-02-28, Number of Orders: 365
Date: 2018-01-15, Number of Orders: 363
Date: 2018-08-03, Number of Orders: 360
Date: 2018-07-18, Number of Orders: 358
Date: 2017-11-23, Number of Orders: 358
Date: 2018-07-23, Number of Orders: 355
Date: 2018-04-02, Number of Orders: 353
Date: 2018-06-11, Number of Orders: 349
Date: 2018-08-14, Number of Orders: 349
Date: 2018-05-10, Number of Orders: 346
Date: 2018-08-02, Number of Orders: 345
Date: 2018-04-23, Number of Orders: 344
Date: 2018-04-16, Number of Orders: 342
Date: 2018-08-09, Number of Orders: 341
Date: 2018-01-08, Number of Orders: 340
Date: 2018-02-26, Number of Orders: 340
Date: 2018-03-15, Number of Orders: 340
Date: 2017-12-06, Number of Orders: 340
Date: 2017-12-05, Number of Orders: 338
Date: 2018-03-05, Number of Orders: 337
Date: 2017-12-01, Number of Orders: 335
Date: 2018-07-25, Number of Orders: 332
Date: 2018-03-21, Number of Orders: 332
Date: 2018-08-13, Number of Orders: 332
Date: 2018-03-26, Number of Orders: 332
Date: 2018-07-30, Number of Orders: 331
Date: 2018-08-15, Number of Orders: 330
Date: 2018-03-01, Number of Orders: 329
Date: 2018-04-18, Number of Orders: 329
Date: 2018-04-17, Number of Orders: 329
Date: 2018-01-11, Number of Orders: 329
Date: 2018-04-25, Number of Orders: 327
Date: 2018-02-20, Number of Orders: 326
Date: 2018-01-10, Number of Orders: 325
Date: 2018-02-05, Number of Orders: 325
Date: 2018-04-24, Number of Orders: 323
Date: 2018-02-15, Number of Orders: 323
Date: 2018-06-13, Number of Orders: 322
Date: 2018-04-11, Number of Orders: 321
Date: 2018-01-23, Number of Orders: 320
Date: 2018-02-21, Number of Orders: 320
Date: 2017-11-30, Number of Orders: 319
Date: 2018-06-26, Number of Orders: 319
Date: 2018-01-30, Number of Orders: 317
Date: 2018-03-02, Number of Orders: 317
Date: 2018-08-05, Number of Orders: 316
Date: 2018-03-16, Number of Orders: 316
Date: 2018-07-26, Number of Orders: 316
Date: 2018-03-06, Number of Orders: 315
Date: 2018-04-05, Number of Orders: 315
Date: 2018-05-04, Number of Orders: 315
Date: 2018-06-12, Number of Orders: 313
Date: 2018-02-06, Number of Orders: 311
Date: 2018-07-24, Number of Orders: 310
Date: 2017-12-12, Number of Orders: 309
Date: 2018-01-17, Number of Orders: 308
Date: 2018-04-26, Number of Orders: 305
Date: 2018-03-22, Number of Orders: 304
Date: 2018-04-12, Number of Orders: 303
Date: 2018-03-27, Number of Orders: 303
Date: 2018-08-17, Number of Orders: 302
Date: 2018-02-19, Number of Orders: 302
Date: 2018-06-25, Number of Orders: 301
Date: 2018-03-07, Number of Orders: 301
Date: 2018-05-11, Number of Orders: 300
Date: 2018-02-07, Number of Orders: 300
Date: 2018-01-29, Number of Orders: 300
Date: 2018-01-12, Number of Orders: 300
Date: 2018-07-04, Number of Orders: 299
Date: 2017-12-11, Number of Orders: 298
Date: 2018-04-04, Number of Orders: 298
Date: 2018-06-18, Number of Orders: 297
Date: 2018-01-04, Number of Orders: 297
Date: 2018-06-28, Number of Orders: 296
Date: 2018-05-01, Number of Orders: 296
Date: 2018-07-20, Number of Orders: 295
Date: 2018-04-09, Number of Orders: 295
Date: 2018-04-27, Number of Orders: 294
Date: 2018-01-31, Number of Orders: 293
Date: 2018-07-19, Number of Orders: 293
Date: 2018-08-20, Number of Orders: 293
Date: 2018-04-30, Number of Orders: 291
Date: 2018-01-24, Number of Orders: 290
Date: 2018-01-18, Number of Orders: 287
Date: 2018-08-10, Number of Orders: 286
Date: 2018-04-03, Number of Orders: 286
Date: 2018-03-08, Number of Orders: 286
Date: 2018-06-06, Number of Orders: 284
Date: 2018-05-18, Number of Orders: 283
Date: 2017-11-16, Number of Orders: 282
Date: 2018-08-04, Number of Orders: 281
Date: 2018-02-01, Number of Orders: 279
Date: 2018-01-09, Number of Orders: 279
Date: 2018-03-13, Number of Orders: 279
Date: 2018-06-21, Number of Orders: 277
Date: 2018-05-12, Number of Orders: 276
Date: 2018-01-26, Number of Orders: 275
Date: 2017-10-17, Number of Orders: 275
Date: 2018-06-19, Number of Orders: 274
Date: 2018-02-12, Number of Orders: 274
Date: 2018-01-06, Number of Orders: 273
Date: 2017-11-20, Number of Orders: 273
Date: 2018-06-07, Number of Orders: 272
Date: 2018-01-19, Number of Orders: 272
Date: 2018-01-25, Number of Orders: 272
Date: 2017-12-13, Number of Orders: 270
Date: 2018-04-15, Number of Orders: 270
Date: 2018-07-16, Number of Orders: 270
Date: 2018-02-25, Number of Orders: 270
Date: 2017-12-07, Number of Orders: 269
Date: 2017-11-21, Number of Orders: 269
Date: 2017-12-03, Number of Orders: 268
Date: 2018-06-20, Number of Orders: 268
Date: 2017-12-08, Number of Orders: 267
Date: 2018-06-04, Number of Orders: 267
Date: 2018-02-13, Number of Orders: 267
Date: 2018-02-02, Number of Orders: 267
Date: 2018-02-23, Number of Orders: 265
Date: 2018-03-12, Number of Orders: 265
Date: 2018-08-21, Number of Orders: 265
Date: 2018-02-08, Number of Orders: 262
Date: 2018-01-03, Number of Orders: 262
Date: 2018-03-23, Number of Orders: 262
Date: 2018-01-14, Number of Orders: 261
Date: 2018-05-17, Number of Orders: 261
Date: 2018-01-13, Number of Orders: 257
Date: 2018-02-16, Number of Orders: 257
Date: 2018-07-17, Number of Orders: 256
Date: 2017-09-12, Number of Orders: 255
Date: 2018-03-04, Number of Orders: 254
Date: 2018-06-27, Number of Orders: 253
Date: 2018-01-02, Number of Orders: 253
Date: 2018-03-28, Number of Orders: 252
Date: 2018-01-05, Number of Orders: 251
Date: 2018-05-13, Number of Orders: 251
Date: 2018-06-05, Number of Orders: 249
Date: 2018-03-18, Number of Orders: 248
Date: 2018-03-11, Number of Orders: 246
Date: 2018-07-22, Number of Orders: 245
Date: 2018-03-25, Number of Orders: 245
Date: 2018-05-21, Number of Orders: 245
Date: 2018-05-22, Number of Orders: 245
Date: 2018-07-03, Number of Orders: 245
Date: 2017-11-22, Number of Orders: 244
Date: 2018-02-18, Number of Orders: 244
Date: 2018-03-09, Number of Orders: 244
Date: 2018-04-13, Number of Orders: 244
Date: 2018-05-06, Number of Orders: 242
Date: 2017-10-16, Number of Orders: 241
Date: 2018-03-14, Number of Orders: 241
Date: 2018-02-09, Number of Orders: 241
Date: 2017-12-02, Number of Orders: 241
Date: 2018-06-08, Number of Orders: 241
Date: 2017-11-13, Number of Orders: 240
Date: 2018-06-14, Number of Orders: 240
Date: 2017-11-17, Number of Orders: 240
Date: 2018-04-22, Number of Orders: 240
Date: 2018-04-01, Number of Orders: 240
Date: 2017-07-18, Number of Orders: 239
Date: 2018-04-20, Number of Orders: 238
Date: 2017-09-13, Number of Orders: 238
Date: 2017-12-18, Number of Orders: 238
Date: 2017-11-09, Number of Orders: 237
Date: 2018-03-03, Number of Orders: 236
Date: 2018-03-29, Number of Orders: 236
Date: 2017-10-09, Number of Orders: 236
Date: 2018-08-19, Number of Orders: 235
Date: 2018-08-12, Number of Orders: 235
Date: 2018-04-10, Number of Orders: 234
Date: 2018-06-10, Number of Orders: 232
Date: 2017-11-14, Number of Orders: 231
Date: 2017-10-18, Number of Orders: 231
Date: 2018-02-04, Number of Orders: 231
Date: 2018-06-03, Number of Orders: 230
Date: 2018-01-21, Number of Orders: 230
Date: 2018-01-07, Number of Orders: 228
Date: 2017-11-15, Number of Orders: 227
Date: 2017-08-08, Number of Orders: 227
Date: 2017-12-10, Number of Orders: 227
Date: 2017-09-18, Number of Orders: 227
Date: 2018-07-27, Number of Orders: 226
Date: 2018-05-05, Number of Orders: 226
Date: 2018-02-17, Number of Orders: 226
Date: 2017-10-03, Number of Orders: 225
Date: 2018-07-02, Number of Orders: 224
Date: 2018-07-05, Number of Orders: 224
Date: 2018-08-11, Number of Orders: 222
Date: 2018-06-24, Number of Orders: 222
Date: 2017-08-30, Number of Orders: 222
Date: 2017-08-21, Number of Orders: 221
Date: 2017-08-15, Number of Orders: 221
Date: 2018-06-15, Number of Orders: 220
Date: 2018-02-24, Number of Orders: 220
Date: 2018-03-10, Number of Orders: 220
Date: 2018-07-29, Number of Orders: 220
Date: 2017-10-10, Number of Orders: 219
Date: 2018-07-28, Number of Orders: 218
Date: 2017-12-14, Number of Orders: 218
Date: 2018-02-03, Number of Orders: 218
Date: 2018-04-06, Number of Orders: 218
Date: 2017-11-06, Number of Orders: 217
Date: 2018-08-22, Number of Orders: 217
Date: 2018-04-08, Number of Orders: 216
Date: 2018-07-21, Number of Orders: 216
Date: 2018-06-01, Number of Orders: 216
Date: 2017-12-15, Number of Orders: 215
Date: 2018-08-18, Number of Orders: 215
Date: 2018-06-22, Number of Orders: 215
Date: 2017-08-16, Number of Orders: 213
Date: 2017-11-08, Number of Orders: 211
Date: 2017-11-10, Number of Orders: 211
Date: 2017-12-19, Number of Orders: 211
Date: 2017-09-05, Number of Orders: 210
Date: 2018-01-20, Number of Orders: 208
Date: 2017-09-14, Number of Orders: 207
Date: 2017-09-11, Number of Orders: 207
Date: 2017-10-23, Number of Orders: 206
Date: 2018-04-28, Number of Orders: 205
Date: 2017-09-26, Number of Orders: 204
Date: 2017-07-17, Number of Orders: 204
Date: 2017-12-20, Number of Orders: 203
Date: 2018-02-10, Number of Orders: 201
Date: 2017-10-19, Number of Orders: 200
Date: 2017-10-31, Number of Orders: 200
Date: 2017-10-24, Number of Orders: 200
Date: 2017-05-29, Number of Orders: 200
Date: 2018-05-20, Number of Orders: 199
Date: 2017-07-11, Number of Orders: 198
Date: 2018-07-13, Number of Orders: 198
Date: 2018-03-31, Number of Orders: 198
Date: 2018-04-29, Number of Orders: 198
Date: 2018-06-29, Number of Orders: 198
Date: 2017-09-20, Number of Orders: 198
Date: 2018-03-17, Number of Orders: 197
Date: 2018-02-11, Number of Orders: 197
Date: 2017-07-20, Number of Orders: 197
Date: 2017-09-01, Number of Orders: 195
Date: 2017-05-15, Number of Orders: 195
Date: 2017-12-26, Number of Orders: 195
Date: 2018-03-30, Number of Orders: 194
Date: 2018-01-27, Number of Orders: 194
Date: 2017-08-07, Number of Orders: 194
Date: 2018-03-24, Number of Orders: 193
Date: 2018-06-09, Number of Orders: 193
Date: 2017-09-19, Number of Orders: 192
Date: 2017-08-10, Number of Orders: 192
Date: 2017-10-22, Number of Orders: 191
Date: 2017-11-12, Number of Orders: 191
Date: 2017-09-27, Number of Orders: 190
Date: 2017-08-01, Number of Orders: 190
Date: 2017-12-27, Number of Orders: 189
Date: 2018-07-01, Number of Orders: 189
Date: 2017-10-11, Number of Orders: 188
Date: 2017-07-24, Number of Orders: 188
Date: 2017-10-26, Number of Orders: 188
Date: 2017-05-16, Number of Orders: 187
Date: 2017-07-19, Number of Orders: 187
Date: 2017-06-19, Number of Orders: 187
Date: 2018-04-07, Number of Orders: 186
Date: 2017-07-13, Number of Orders: 186
Date: 2017-07-05, Number of Orders: 186
Date: 2017-11-07, Number of Orders: 185
Date: 2018-06-17, Number of Orders: 185
Date: 2017-08-14, Number of Orders: 185
Date: 2017-10-04, Number of Orders: 184
Date: 2017-08-31, Number of Orders: 184
Date: 2017-08-28, Number of Orders: 184
Date: 2017-10-30, Number of Orders: 183
Date: 2018-06-16, Number of Orders: 183
Date: 2017-07-06, Number of Orders: 183
Date: 2017-11-11, Number of Orders: 182
Date: 2017-08-02, Number of Orders: 182
Date: 2017-11-03, Number of Orders: 181
Date: 2017-10-02, Number of Orders: 181
Date: 2017-07-25, Number of Orders: 181
Date: 2017-05-19, Number of Orders: 180
Date: 2018-05-29, Number of Orders: 180
Date: 2017-11-19, Number of Orders: 179
Date: 2017-09-21, Number of Orders: 179
Date: 2018-05-19, Number of Orders: 179
Date: 2017-11-18, Number of Orders: 178
Date: 2018-06-23, Number of Orders: 178
Date: 2017-12-09, Number of Orders: 177
Date: 2017-10-25, Number of Orders: 177
Date: 2017-07-12, Number of Orders: 177
Date: 2017-07-31, Number of Orders: 176
Date: 2018-04-14, Number of Orders: 176
Date: 2018-05-28, Number of Orders: 176
Date: 2017-06-05, Number of Orders: 176
Date: 2017-08-11, Number of Orders: 176
Date: 2017-10-05, Number of Orders: 175
Date: 2017-09-28, Number of Orders: 175
Date: 2018-04-21, Number of Orders: 175
Date: 2017-12-29, Number of Orders: 175
Date: 2017-10-13, Number of Orders: 175
Date: 2017-05-22, Number of Orders: 175
Date: 2017-08-17, Number of Orders: 174
Date: 2017-06-07, Number of Orders: 174
Date: 2017-05-17, Number of Orders: 174
Date: 2018-07-15, Number of Orders: 174
Date: 2017-09-04, Number of Orders: 173
Date: 2018-01-28, Number of Orders: 173
Date: 2017-08-03, Number of Orders: 172
Date: 2017-09-15, Number of Orders: 172
Date: 2017-07-14, Number of Orders: 171
Date: 2017-09-06, Number of Orders: 171
Date: 2017-08-18, Number of Orders: 170
Date: 2017-08-09, Number of Orders: 170
Date: 2017-10-27, Number of Orders: 169
Date: 2017-08-22, Number of Orders: 169
Date: 2017-09-10, Number of Orders: 168
Date: 2017-10-29, Number of Orders: 168
Date: 2017-07-07, Number of Orders: 168
Date: 2017-11-05, Number of Orders: 167
Date: 2017-10-06, Number of Orders: 167
Date: 2017-08-04, Number of Orders: 167
Date: 2017-05-21, Number of Orders: 167
Date: 2017-08-23, Number of Orders: 166
Date: 2018-07-14, Number of Orders: 166
Date: 2017-05-24, Number of Orders: 166
Date: 2017-10-12, Number of Orders: 165
Date: 2017-05-09, Number of Orders: 165
Date: 2018-07-09, Number of Orders: 164
Date: 2018-08-23, Number of Orders: 163
Date: 2018-06-02, Number of Orders: 163
Date: 2017-12-17, Number of Orders: 163
Date: 2018-05-30, Number of Orders: 162
Date: 2017-07-10, Number of Orders: 162
Date: 2018-07-10, Number of Orders: 162
Date: 2017-06-08, Number of Orders: 162
Date: 2017-09-22, Number of Orders: 162
Date: 2018-05-23, Number of Orders: 161
Date: 2017-12-28, Number of Orders: 161
Date: 2017-09-25, Number of Orders: 161
Date: 2017-12-21, Number of Orders: 160
Date: 2017-06-27, Number of Orders: 159
Date: 2017-06-06, Number of Orders: 159
Date: 2017-08-29, Number of Orders: 159
Date: 2017-07-29, Number of Orders: 157
Date: 2017-06-12, Number of Orders: 157
Date: 2017-07-26, Number of Orders: 155
Date: 2017-04-20, Number of Orders: 155
Date: 2017-07-28, Number of Orders: 154
Date: 2017-12-16, Number of Orders: 153
Date: 2017-11-02, Number of Orders: 153
Date: 2017-10-01, Number of Orders: 152
Date: 2017-07-16, Number of Orders: 152
Date: 2017-07-27, Number of Orders: 151
Date: 2018-05-31, Number of Orders: 151
Date: 2017-05-23, Number of Orders: 151
Date: 2017-06-13, Number of Orders: 150
Date: 2017-06-14, Number of Orders: 149
Date: 2017-05-08, Number of Orders: 149
Date: 2017-08-27, Number of Orders: 149
Date: 2017-08-24, Number of Orders: 149
Date: 2017-06-01, Number of Orders: 149
Date: 2017-04-26, Number of Orders: 148
Date: 2017-05-31, Number of Orders: 148
Date: 2017-05-12, Number of Orders: 148
Date: 2018-07-08, Number of Orders: 148
Date: 2017-04-24, Number of Orders: 147
Date: 2017-10-08, Number of Orders: 147
Date: 2017-06-02, Number of Orders: 147
Date: 2018-07-11, Number of Orders: 147
Date: 2017-05-02, Number of Orders: 147
Date: 2017-07-30, Number of Orders: 146
Date: 2018-07-12, Number of Orders: 146
Date: 2017-05-11, Number of Orders: 146
Date: 2017-10-15, Number of Orders: 145
Date: 2017-09-03, Number of Orders: 145
Date: 2017-05-18, Number of Orders: 144
Date: 2017-10-20, Number of Orders: 144
Date: 2017-05-01, Number of Orders: 143
Date: 2017-09-17, Number of Orders: 143
Date: 2017-06-11, Number of Orders: 143
Date: 2017-02-07, Number of Orders: 142
Date: 2017-03-09, Number of Orders: 142
Date: 2017-07-04, Number of Orders: 142
Date: 2017-09-16, Number of Orders: 142
Date: 2017-03-23, Number of Orders: 142
Date: 2017-09-29, Number of Orders: 141
Date: 2017-11-04, Number of Orders: 140
Date: 2017-09-23, Number of Orders: 140
Date: 2018-06-30, Number of Orders: 140
Date: 2017-03-15, Number of Orders: 139
Date: 2017-08-25, Number of Orders: 139
Date: 2017-07-21, Number of Orders: 139
Date: 2017-05-25, Number of Orders: 138
Date: 2017-09-24, Number of Orders: 137
Date: 2017-10-14, Number of Orders: 137
Date: 2017-10-21, Number of Orders: 136
Date: 2017-07-03, Number of Orders: 136
Date: 2017-05-05, Number of Orders: 136
Date: 2018-05-24, Number of Orders: 135
Date: 2017-09-08, Number of Orders: 134
Date: 2017-05-06, Number of Orders: 134
Date: 2017-07-02, Number of Orders: 134
Date: 2017-06-29, Number of Orders: 134
Date: 2017-05-14, Number of Orders: 134
Date: 2018-07-06, Number of Orders: 133
Date: 2017-11-01, Number of Orders: 133
Date: 2017-08-05, Number of Orders: 133
Date: 2017-06-28, Number of Orders: 132
Date: 2017-05-30, Number of Orders: 132
Date: 2017-03-20, Number of Orders: 131
Date: 2018-05-25, Number of Orders: 131
Date: 2017-08-19, Number of Orders: 131
Date: 2017-06-09, Number of Orders: 131
Date: 2017-05-10, Number of Orders: 130
Date: 2017-12-22, Number of Orders: 129
Date: 2017-03-22, Number of Orders: 128
Date: 2017-05-07, Number of Orders: 127
Date: 2017-09-02, Number of Orders: 127
Date: 2017-03-16, Number of Orders: 127
Date: 2017-06-15, Number of Orders: 126
Date: 2017-12-23, Number of Orders: 126
Date: 2017-03-13, Number of Orders: 126
Date: 2017-03-27, Number of Orders: 126
Date: 2017-08-06, Number of Orders: 125
Date: 2017-04-25, Number of Orders: 125
Date: 2018-08-24, Number of Orders: 125
Date: 2017-08-20, Number of Orders: 124
Date: 2017-03-06, Number of Orders: 124
Date: 2017-03-01, Number of Orders: 124
Date: 2017-09-30, Number of Orders: 124
Date: 2017-05-04, Number of Orders: 123
Date: 2017-03-28, Number of Orders: 122
Date: 2017-10-07, Number of Orders: 122
Date: 2017-06-25, Number of Orders: 121
Date: 2017-03-14, Number of Orders: 120
Date: 2017-05-03, Number of Orders: 120
Date: 2017-09-09, Number of Orders: 120
Date: 2018-05-27, Number of Orders: 120
Date: 2017-04-04, Number of Orders: 118
Date: 2017-06-23, Number of Orders: 118
Date: 2017-04-19, Number of Orders: 116
Date: 2018-05-26, Number of Orders: 116
Date: 2017-07-23, Number of Orders: 115
Date: 2017-08-13, Number of Orders: 115
Date: 2017-04-06, Number of Orders: 115
Date: 2017-03-21, Number of Orders: 114
Date: 2017-08-12, Number of Orders: 114
Date: 2017-07-15, Number of Orders: 114
Date: 2017-06-16, Number of Orders: 113
Date: 2017-04-28, Number of Orders: 113
Date: 2017-06-20, Number of Orders: 112
Date: 2017-06-04, Number of Orders: 112
Date: 2017-09-07, Number of Orders: 112
Date: 2017-05-28, Number of Orders: 111
Date: 2017-12-30, Number of Orders: 111
Date: 2017-02-08, Number of Orders: 109
Date: 2017-04-05, Number of Orders: 108
Date: 2017-10-28, Number of Orders: 108
Date: 2017-04-27, Number of Orders: 106
Date: 2017-07-09, Number of Orders: 106
Date: 2017-06-03, Number of Orders: 106
Date: 2017-08-26, Number of Orders: 106
Date: 2017-03-10, Number of Orders: 105
Date: 2017-03-07, Number of Orders: 105
Date: 2017-01-26, Number of Orders: 105
Date: 2017-06-18, Number of Orders: 104
Date: 2017-12-25, Number of Orders: 103
Date: 2017-07-22, Number of Orders: 103
Date: 2018-07-07, Number of Orders: 103
Date: 2017-06-30, Number of Orders: 103
Date: 2017-04-07, Number of Orders: 101
Date: 2017-04-22, Number of Orders: 101
Date: 2017-05-26, Number of Orders: 98
Date: 2017-05-27, Number of Orders: 98
Date: 2017-06-22, Number of Orders: 98
Date: 2017-07-01, Number of Orders: 98

## Data Aggregation and Grouping

In [105]:
# Grouping 'customer_state' and sum 'payment_value'
df_state_payment = df.groupby('customer_state')['payment_value'].sum().reset_index()
df_state_payment.head()

  customer_state  payment_value
0             AC       24984.86
1             AL      111993.78
2             AM       34873.79
3             AP       21642.70
4             BA      802416.72

In [108]:
# Grouping 'seller_state' and 'product_category_name_eng' and computing mean of 'freight_value'
df_seller_freight = df.groupby(['seller_state', 'product_category_name_eng'])['freight_value'].mean().reset_index()
df_seller_freight.head(22)

   seller_state   product_category_name_eng  freight_value
0            AC             books_technical      32.840000
1            AM                   telephony      27.266667
2            BA                        baby      47.908000
3            BA                   computers      46.447251
4            BA       computers_accessories      46.567347
5            BA                  cool_stuff      26.060000
6            BA                      drinks      15.470000
7            BA                 electronics       9.913333
8            BA    fashion_bags_accessories      31.757500
9            BA             fixed_telephony      49.296667
10           BA                  food_drink      21.849512
11           BA             furniture_decor      42.380000
12           BA                garden_tools      69.740000
13           BA               health_beauty      27.325000
14           BA                    pet_shop      24.730000
15           BA              sports_leisure      26.963548
16           BA                   telephony      22.881392
17           BA                        toys      63.900000
18           BA               watches_gifts      20.640000
19           CE  agro_industry_and_commerce      46.080000
20           CE                        auto      23.560000
21           CE                        baby      25.291429

In [112]:
# Grouping 'customer_state' and calculate the 90th percentile of 'price'
import numpy as np
df_90th_percentile = df.groupby('customer_state')['price'].apply(lambda x: np.percentile(x, 90)).reset_index()
df_90th_percentile.head()

  customer_state   price
0             AC  394.60
1             AL  367.30
2             AM  253.50
3             AP  253.63
4             BA  259.90

In [119]:
# Grouping 'customer_city' and compute standard deviation of 'price'
df_std_price = df.groupby('customer_city')['price'].agg(np.std).reset_index()
df_std_price.head()

C:\Users\user\AppData\Local\Temp\ipykernel_7972\4028974231.py:2: FutureWarning: The provided callable <function std at 0x000002666601F1A0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df_std_price = df.groupby('customer_city')['price'].agg(np.std).reset_index()

         customer_city       price
0  abadia dos dourados   79.550634
1            abadiania         NaN
2               abaete  115.348721
3           abaetetuba  406.659047
4              abaiara   53.103719

In [124]:
# Ranking all orders by 'price' in descending order
df['global_rank'] = df['price'].rank(method='min', ascending=False)
df['global_rank'].sort_values().head()

26332    1.0
33775    2.0
4132     3.0
63493    4.0
48074    5.0
Name: global_rank, dtype: float64

In [126]:
df.sort_values(by="global_rank", ascending=True).head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,delivery_time,order_date,global_rank
26332,0812eb902a67711a1cb742b3cdaa65ae,c6e2731c5b391845f6800c97401a43a9,delivered,2017-02-12 20:37:00,2017-02-12 20:45:00,2017-02-16 09:23:00,2017-03-03 14:23:00,2017-03-09,1,-1,-1,2017-02-16 20:37:00,6735.0,194.31,utilidades_domesticas,housewares,30000,dc4802a71eae9be1dd28f5d788ceb526,79042,campo grande,MS,1,credit_card,8,6929.31,3635,sao paulo,SP,3.213445e+06,18,2017-02-12,1.0
33775,fefacc66af859508bf1a7934eab1e97f,f48d464a0baaea338cb25f816991ab1f,delivered,2018-07-25 18:10:00,2018-07-27 04:05:00,2018-08-03 14:42:00,2018-08-15 14:57:00,2018-08-10,1,-1,-1,2018-08-02 04:05:00,6729.0,193.21,pcs,computers,5660,459bef486812aa25204be022145caa62,29066,vitoria,ES,1,boleto,1,6922.21,86026,londrina,PR,4.121074e+06,20,2018-07-25,2.0
4132,f5136e38d1a14a4dbd87dff67da82701,3fd6777bbce08a352fddd04e4a7cc8f6,delivered,2017-05-24 18:14:00,2017-05-26 02:45:00,2017-05-26 11:20:00,2017-06-05 17:09:00,2017-06-28,1,-1,-1,2017-06-15 02:45:00,6499.0,227.66,artes,art,7400,ff4159b92c40ebe40454e3e6a7c35ed6,17506,marilia,SP,1,boleto,1,6726.66,74210,goiania,GO,4.985540e+05,11,2017-05-24,3.0
63493,a96610ab360d42a2e5335a3998b4718a,df55c14d1476a9a3467f131269c2477f,delivered,2017-04-01 15:58:00,2017-04-03 13:25:00,2017-04-11 15:10:00,2017-04-17 11:04:00,2017-05-02,1,-1,-1,2017-04-18 13:25:00,4799.0,151.34,eletroportateis,small_appliances,22600,da122df9eeddfedc1dc1f5349a1a690c,28970,araruama,RJ,1,credit_card,10,4950.34,13480,limeira,SP,7.697478e+06,15,2017-04-01,4.0
48074,199af31afc78c699f0dbf71fb178d4d4,24bbf5fd2f2e1b359ee7de94defc4a15,delivered,2017-04-18 18:50:00,2017-04-19 15:50:00,2017-04-25 13:39:00,2017-05-07 10:42:00,2017-05-15,1,-1,-1,2017-05-09 15:50:00,4690.0,74.34,eletroportateis,small_appliances,30000,eebb5dda148d3893cdaf5b5ca3040ccb,9341,maua,SP,1,credit_card,8,4764.34,13480,limeira,SP,5.819800e+06,18,2017-04-18,5.0

In [129]:
# top 10 orders by 'price' within each 'product_category_name_eng'
df_top10 = df.groupby('product_category_name_eng').apply(lambda x: x.nlargest(10, 'price')).reset_index(drop=True)
df_top10[["price", "product_category_name_eng"]].head(10)

C:\Users\user\AppData\Local\Temp\ipykernel_7972\1431138129.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_top10 = df.groupby('product_category_name_eng').apply(lambda x: x.nlargest(10, 'price')).reset_index(drop=True)

    price   product_category_name_eng
0  2990.0  agro_industry_and_commerce
1  2399.0  agro_industry_and_commerce
2  2199.0  agro_industry_and_commerce
3  1899.0  agro_industry_and_commerce
4  1476.3  agro_industry_and_commerce
5  1390.0  agro_industry_and_commerce
6  1330.0  agro_industry_and_commerce
7  1234.0  agro_industry_and_commerce
8  1180.0  agro_industry_and_commerce
9  1180.0  agro_industry_and_commerce

In [131]:
# Grouped  customer_state and seller_state, then aggregate payment_value (sum) and freight_value (mean)
grouped_by_state = df.groupby(['customer_state', 'seller_state']).agg({
    'payment_value': 'sum',
    'freight_value': 'mean'
}).reset_index()
grouped_by_state.head(12)

   customer_state seller_state  payment_value  freight_value
0              AC           BA        1251.70      51.700000
1              AC           DF         225.42      26.420000
2              AC           GO         147.59      48.600000
3              AC           MA          94.74      27.750000
4              AC           MG        2578.91      48.968182
5              AC           MS         825.24      21.410000
6              AC           PR         218.95      39.050000
7              AC           RJ          50.14      33.240000
8              AC           RS         293.99      37.455000
9              AC           SC        1776.85      47.244000
10             AC           SP       17521.33      38.879710
11             AL           AM         984.26      35.260000

In [133]:
# Finding the most frequently occurring payment_type for each customer_state
most_frequent_payment_type = df.groupby('customer_state')['payment_type'].agg(lambda x: x.value_counts().idxmax())
most_frequent_payment_type

customer_state
AC    credit_card
AL    credit_card
AM    credit_card
AP    credit_card
BA    credit_card
CE    credit_card
DF    credit_card
ES    credit_card
GO    credit_card
MA    credit_card
MG    credit_card
MS    credit_card
MT    credit_card
PA    credit_card
PB    credit_card
PE    credit_card
PI    credit_card
PR    credit_card
RJ    credit_card
RN    credit_card
RO    credit_card
RR    credit_card
RS    credit_card
SC    credit_card
SE    credit_card
SP    credit_card
TO    credit_card
Name: payment_type, dtype: object

In [34]:
# Computing the cumulative sum of price within each seller_id
df['cumulative_price'] = df.groupby('seller_id')['price'].cumsum()
df[['seller_id','price','cumulative_price']].head()

  seller_id   price  cumulative_price
0        -1   29.99             29.99
1        -1   29.99             59.98
2        -1   29.99             89.97
3        -1  118.70            208.67
4        -1  159.90            368.57

In [47]:
# Calculating the percentage contribution of each seller_state to the total payment_value
total_payment_value = df['payment_value'].sum()
payment_by_seller_state = df.groupby('seller_state')['payment_value'].sum()
percentage_contribution = (payment_by_seller_state / total_payment_value) * 100
percentage_contribution.head(22)

seller_state
AC    0.001465
AM    0.006149
BA    1.797169
CE    0.126275
DF    0.673072
ES    0.385127
GO    0.548008
MA    0.253934
MG    7.643759
MS    0.052885
MT    0.115475
PA    0.006805
PB    0.100680
PE    0.610105
PI    0.015556
PR    9.019431
RJ    5.364855
RN    0.066235
RO    0.027127
RS    2.736725
SC    4.331705
SE    0.012047
Name: payment_value, dtype: float64

In [48]:
# Grouping product_category_name_eng and calculating sum and mean of price and freight_value
aggregated_stats = df.groupby('product_category_name_eng').agg({
    'price': ['sum', 'mean'],
    'freight_value': ['sum', 'mean']
}).reset_index()
aggregated_stats.head()

    product_category_name_eng     price             freight_value
                                    sum        mean           sum       mean
0  agro_industry_and_commerce  83841.95  332.706151       6966.82  27.646111
1            air_conditioning  55962.38  185.305894       6848.50  22.677152
2                         art  24721.97  112.885708       4191.02  19.137078
3       arts_and_craftmanship   1814.01   75.583750        370.13  15.422083
4                       audio  52450.37  138.027289       5979.79  15.736289

In [49]:
# Retrieving the first and last order_purchase_timestamp for each customer_id
first_last_order_dates = df.groupby('customer_id').agg({
    'order_purchase_timestamp': ['first', 'last']
}).reset_index()
first_last_order_dates.head()

                        customer_id order_purchase_timestamp  \
                                                       first
0  00012a2ce6f8dcda20d059ce98491703      2017-11-14 16:08:00
1  000161a058600d5901f007fab4c27140      2017-07-16 09:40:00
2  0001fd6190edaaf884bcaf3d49edf079      2017-02-28 11:06:00
3  0002414f95344307404f0ace7a26f1d5      2017-08-16 13:09:00
4  000379cdec625522490c315e70c7a9fb      2018-04-02 13:42:00


                 last
0 2017-11-14 16:08:00
1 2017-07-16 09:40:00
2 2017-02-28 11:06:00
3 2017-08-16 13:09:00
4 2018-04-02 13:42:00

In [50]:
# Counting unique product_id values for each seller_id
unique_products_per_seller = df.groupby('seller_id')['product_id'].nunique().reset_index(name='unique_products_sold')
unique_products_per_seller.head()

  seller_id  unique_products_sold
0        -1                     1

In [51]:
# Calculating the standard deviation of price and freight_value for each product_category_name_eng
std_deviation_stats = df.groupby('product_category_name_eng').agg({
    'price': 'std',
    'freight_value': 'std'
}).reset_index()
std_deviation_stats.head()

    product_category_name_eng       price  freight_value
0  agro_industry_and_commerce  393.780013      20.316324
1            air_conditioning  188.456727      14.059847
2                         art  435.611356      16.580166
3       arts_and_craftmanship   73.997815      12.267814
4                       audio  158.707023       6.608223

In [68]:
# Counting how many times the order_status was "delivered" for each seller_state
delivered_orders_count = df[df['order_status'] == 'delivered'].groupby('seller_state').size().reset_index(name='delivered_orders_count')
delivered_orders_count.sort_values(by="delivered_orders_count", ascending=False)

   seller_state  delivered_orders_count
21           SP                   82061
7            MG                    9026
14           PR                    8798
15           RJ                    4877
19           SC                    4180
18           RS                    2251
3            DF                     930
1            BA                     679
5            GO                     536
12           PE                     462
6            MA                     406
4            ES                     382
9            MT                     146
2            CE                      99
8            MS                      60
16           RN                      56
11           PB                      43
17           RO                      14
13           PI                      11
20           SE                      10
10           PA                       8
0            AM                       3

In [69]:
# Counting how many times the order_status was "processing" for each seller_state
delivered_orders_count = df[df['order_status'] == 'processing'].groupby('seller_state').size().reset_index(name='delivered_orders_count')
delivered_orders_count.sort_values(by="delivered_orders_count", ascending=False)

   seller_state  delivered_orders_count
10           SP                     228
7            RJ                      47
6            PR                      37
5            MG                      29
8            RS                      13
9            SC                      10
1            BA                       5
3            ES                       2
4            GO                       2
0            AC                       1
2            DF                       1

In [70]:
# Counting how many times the order_status was "created" for each seller_state
delivered_orders_count = df[df['order_status'] == 'created'].groupby('seller_state').size().reset_index(name='delivered_orders_count')
delivered_orders_count.sort_values(by="delivered_orders_count", ascending=False)

    seller_state  delivered_orders_count
0  Unknown State                       5

In [71]:
# Counting how many times the order_status was "approved" for each seller_state
delivered_orders_count = df[df['order_status'] == 'approved'].groupby('seller_state').size().reset_index(name='delivered_orders_count')
delivered_orders_count.sort_values(by="delivered_orders_count", ascending=False)

  seller_state  delivered_orders_count
0           MG                       2
1           SP                       1

In [59]:
# Calculating the delivery time in days and computing the average for each seller_id
df['delivery_time_days'] = (df['order_delivered_customer_date'] - df['order_approved_at']).dt.days
avg_delivery_time_per_seller = df.groupby('seller_id')['delivery_time_days'].mean().reset_index(name='avg_delivery_time_days')
avg_delivery_time_per_seller

  seller_id  avg_delivery_time_days
0        -1               11.190984

In [65]:
df["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

## Date Manipulation

In [72]:
# Converting 'order_purchase_timestamp' to datetime
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])

In [74]:
# Extracting year and month from 'order_purchase_timestamp'
df['order_year'] = df['order_purchase_timestamp'].dt.year
df['order_month'] = df['order_purchase_timestamp'].dt.month
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8

In [75]:
# Ensuring date columns are datetime
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])

# Calculating delivery days
df['delivery_days'] = (df['order_delivered_customer_date'] - df['order_purchase_timestamp']).dt.days
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9

In [76]:
# Calculating 'delivery_time' in days
df['delivery_time'] = (df['order_delivered_customer_date'] - df['order_approved_at']).dt.days
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9

In [77]:
# Checking if 'order_purchase_timestamp' is monotonically increasing
is_monotonic = df['order_purchase_timestamp'].is_monotonic_increasing
print(f"Is 'order_purchase_timestamp' monotonic? {is_monotonic}")

Is 'order_purchase_timestamp' monotonic? False

## Feature Engineering

In [78]:
 # Creating bins for price into 3 categories low, medium, and high.
# Defining bins and labels
bins = [0, 50, 100, 200]
labels = ['Low', 'Medium', 'High']

# Creating 'price_category' based on bins
df['price_category'] = pd.cut(df['price'], bins=bins, labels=labels)
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8,Low
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8,Low
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8,Low
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12,High
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9,High

In [80]:
# Creating a Boolean mask for 'payment_installments' > 5
mask = df['payment_installments'] > 5
mask.head(40)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33     True
34    False
35     True
36    False
37    False
38    False
39    False
Name: payment_installments, dtype: bool

In [82]:
# Conditional Assignment
# Creating 'fast_delivery' flag based on 'delivery_time'
df['fast_delivery'] = df['delivery_time'].apply(lambda x: True if x < 5 else False)
df.head(22)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8,Low,False
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8,Low,False
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8,Low,False
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12,High,False
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9,High,False
5,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:00,2017-11-18 19:45:00,2017-11-22 13:39:00,2017-12-02 00:28:00,2017-12-15,1,-1,-1,2017-11-23 19:45:00,45.00,27.20,pet_shop,pet_shop,450,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,1,credit_card,1,72.20,31842,belo horizonte,MG,413.57,413.57,13,2017,11,13,13,Low,False
6,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:00,2018-02-13 22:20:00,2018-02-14 19:46:00,2018-02-16 18:17:00,2018-02-26,1,-1,-1,2018-02-19 20:31:00,19.90,8.72,papelaria,stationery,250,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,1,credit_card,1,28.62,8752,mogi das cruzes,SP,433.47,433.47,2,2018,2,2,2,Low,True
7,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:00,2017-07-09 22:10:00,2017-07-11 14:58:00,2017-07-26 10:57:00,2017-08-01,1,-1,-1,2017-07-13 22:10:00,147.90,27.36,automotivo,auto,7150,80bb27c7c16e8f973207a5086ab329e2,86320,congonhinhas,PR,1,credit_card,6,175.26,7112,guarulhos,SP,581.37,581.37,16,2017,7,16,16,High,False
8,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:00,2017-04-13 13:25:00,2017-04-11 12:22:00,2017-04-11 12:22:00,2017-05-09,1,-1,-1,2017-04-19 13:25:00,49.90,16.05,Unknown,unknown name,600,36edbb3fb164b1f16485364b6fb04c73,98900,santa rosa,RS,1,credit_card,1,65.95,5455,sao paulo,SP,631.27,631.27,-3,2017,4,0,-3,Low,True
9,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:00,2017-05-16 13:22:00,2017-05-22 10:07:00,2017-05-26 12:55:00,2017-06-07,1,-1,-1,2017-05-22 13:22:00,59.99,15.17,automotivo,auto,50,932afa1e708222e5821dac9cd5db4cae,26525,nilopolis,RJ,1,credit_card,3,75.16,12940,atibaia,SP,691.26,691.26,9,2017,5,9,9,Medium,False
10,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:00,2017-01-25 02:50:00,2017-01-26 14:16:00,2017-02-02 14:08:00,2017-03-06,1,-1,-1,2017-01-27 18:29:00,19.90,16.05,moveis_decoracao,furniture_decor,300,39382392765b6dc74812866ee5ee92a7,99655,faxinalzinho,RS,1,boleto,1,35.95,13720,sao jose do rio pardo,SP,711.16,711.16,8,2017,1,9,8,Low,False
11,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:00,2017-07-29 12:05:00,2017-08-10 19:45:00,2017-08-16 17:14:00,2017-08-23,1,-1,-1,2017-08-11 12:05:00,149.99,19.77,moveis_escritorio,office_furniture,9750,299905e3934e9e181bfb2e164dd4b4f8,18075,sorocaba,SP,2,voucher,1,161.42,8577,itaquaquecetuba,SP,861.15,861.15,18,2017,7,18,18,High,False
12,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:00,2017-07-29 12:05:00,2017-08-10 19:45:00,2017-08-16 17:14:00,2017-08-23,1,-1,-1,2017-08-11 12:05:00,149.99,19.77,moveis_escritorio,office_furniture,9750,299905e3934e9e181bfb2e164dd4b4f8,18075,sorocaba,SP,1,credit_card,1,8.34,8577,itaquaquecetuba,SP,1011.14,1011.14,18,2017,7,18,18,High,False
13,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:00,2017-05-16 19:50:00,2017-05-18 11:40:00,2017-05-29 11:18:00,2017-06-07,1,-1,-1,2017-05-22 19:50:00,99.00,30.53,ferramentas_jardim,garden_tools,9000,f2a85dec752b8517b5e58a06ff3cd937,20780,rio de janeiro,RJ,1,credit_card,1,259.06,29156,cariacica,ES,1110.14,1110.14,12,2017,5,12,12,Medium,False
14,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:00,2017-05-16 19:50:00,2017-05-18 11:40:00,2017-05-29 11:18:00,2017-06-07,2,-1,-1,2017-05-22 19:50:00,99.00,30.53,ferramentas_jardim,garden_tools,9000,f2a85dec752b8517b5e58a06ff3cd937,20780,rio de janeiro,RJ,1,credit_card,1,259.06,29156,cariacica,ES,1209.14,1209.14,12,2017,5,12,12,Medium,False
15,34513ce0c4fab462a55830c0989c7edb,7711cf624183d843aafe81855097bc37,delivered,2017-07-13 19:58:00,2017-07-13 20:10:00,2017-07-14 18:43:00,2017-07-19 14:04:00,2017-08-08,1,-1,-1,2017-07-19 20:10:00,98.00,16.13,informatica_acessorios,computers_accessories,325,782987b81c92239d922aa49d6bd4200b,4278,sao paulo,SP,1,credit_card,1,114.13,90230,porto alegre,RS,1307.14,1307.14,5,2017,7,5,5,Medium,False
16,82566a660a982b15fb86e904c8d32918,d3e3b74c766bc6214e0c830b17ee2341,delivered,2018-06-07 10:06:00,2018-06-09 03:13:00,2018-06-11 13:29:00,2018-06-19 12:05:00,2018-07-18,1,-1,-1,2018-06-18 03:13:00,31.90,18.23,perfumaria,perfumery,450,e97109680b052ee858d93a539597bba7,35400,ouro preto,MG,1,boleto,1,50.13,14095,ribeirao preto,SP,1339.04,1339.04,10,2018,6,12,10,Low,False
17,5ff96c15d0b717ac6ad1f3d77225a350,19402a48fe860416adf93348aba37740,delivered,2018-07-25 17:44:00,2018-07-25 17:55:00,2018-07-26 13:16:00,2018-07-30 15:52:00,2018-08-08,1,-1,-1,2018-07-27 17:55:00,19.90,12.80,cama_mesa_banho,bed_bath_table,200,e2dfa3127fedbbca9707b36304996dab,4812,sao paulo,SP,1,credit_card,3,32.70,14940,ibitinga,SP,1358.94,1358.94,4,2018,7,4,4,Low,True
18,432aaf21d85167c2c86ec9448c4e42cc,3df704f53d3f1d4818840b34ec672a9f,delivered,2018-03-01 14:14:00,2018-03-01 15:10:00,2018-03-02 21:09:00,2018-03-12 23:36:00,2018-03-21,1,-1,-1,2018-03-07 15:10:00,38.25,16.11,brinquedos,toys,583,04cf8185c71090d28baa4407b2e6d600,5271,sao paulo,SP,1,credit_card,1,54.36,88301,itajai,SP,1397.19,1397.19,11,2018,3,11,11,Low,False
19,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-07 19:03:00,2018-06-12 23:31:00,2018-06-11 14:54:00,2018-06-21 15:34:00,2018-07-04,1,-1,-1,2018-06-18 18:59:00,132.40,14.05,perfumaria,perfumery,150,ccafc1c3f270410521c3c6f3b249870f,74820,goiania,GO,1,credit_card,10,146.45,71931,brasilia,DF,1529.59,1529.59,8,2018,6,13,8,High,False
20,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,2018-01-02 19:00:00,2018-01-02 19:09:00,2018-01-03 18:19:00,2018-01-20 01:38:00,2018-02-06,1,-1,-1,2018-01-12 19:09:00,1299.00,77.45,construcao_ferramentas_construcao,construction_tools_construction,20850,6e26bbeaa107ec34112c64e1ee31c0f5,21381,rio de janeiro,RJ,1,credit_card,10,1376.45,8840,mogi das cruzes,SP,2828.59,2828.59,17,2018,1,17,17,NaN,False
21,116f0b09343b49556bbad5f35bee0cdf,3187789bec990987628d7a9beb4dd6ac,delivered,2017-12-26 23:41:00,2017-12-26 23:50:00,2017-12-28 18:33:00,2018-01-08 22:36:00,2018-01-29,1,-1,-1,2018-01-02 23:50:00,27.99,15.10,telefonia,telephony,300,6087cfc70fd833cf2db637a5e6e9d76b,88780,imbituba,SC,1,credit_card,4,43.09,4160,sao paulo,SP,2856.58,2856.58,12,2017,12,12,12,Low,False

In [83]:
# Merging 'customer_city' and 'customer_state' into 'location'
df['location'] = df['customer_city'] + ', ' + df['customer_state']
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8,Low,False,"sao paulo, SP"
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8,Low,False,"sao paulo, SP"
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8,Low,False,"sao paulo, SP"
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12,High,False,"barreiras, BA"
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9,High,False,"vianopolis, GO"

In [84]:
# Spliting 'customer_city' into two separate columns
df[['city_part1', 'city_part2']] = df['customer_city'].str.split(' ', expand=True, n=1)
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location,city_part1,city_part2
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12,High,False,"barreiras, BA",barreiras,None
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9,High,False,"vianopolis, GO",vianopolis,None

In [85]:
# Standarding specified numeric columns
df[['price_z', 'freight_value_z', 'payment_value_z']] = df[['price', 'freight_value', 'payment_value']].apply(lambda x: (x - x.mean()) / x.std())
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location,city_part1,city_part2,price_z,freight_value_z,payment_value_z
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.576790
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.636882
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.575038
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12,High,False,"barreiras, BA",barreiras,None,-0.009795,0.173370,-0.117006
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9,High,False,"vianopolis, GO",vianopolis,None,0.214277,-0.050556,0.023382

 ## Encoding Categorical Variables

In [91]:
# Defing mapping for 'payment_type'
payment_mapping = {'credit_card': 1, 'voucher': 2, 'boleto': 3, 'debit_card': 4, 'not_defined': 5, 'UNKNOWN' : 6}

# Map 'payment_type' to numerical values
df['payment_type_encoded'] = df['payment_type'].map(payment_mapping)
df[['payment_type','payment_type_encoded']].head()

  payment_type  payment_type_encoded
0  credit_card                     1
1      voucher                     2
2      voucher                     2
3       boleto                     3
4  credit_card                     1

In [89]:
df['payment_type'].unique()

array(['credit_card', 'voucher', 'boleto', 'debit_card', 'not_defined',
       'UNKNOWN'], dtype=object)

In [94]:
from sklearn.preprocessing import LabelEncoder
# Initializing LabelEncoder
le = LabelEncoder()

# Encode 'product_category_name_eng'
df['product_category_label'] = le.fit_transform(df['product_category_name_eng'])
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location,city_part1,city_part2,price_z,freight_value_z,payment_value_z,payment_type_encoded,product_category_label
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.576790,1,49
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.636882,2,49
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.575038,2,49
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12,High,False,"barreiras, BA",barreiras,None,-0.009795,0.173370,-0.117006,3,59
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9,High,False,"vianopolis, GO",vianopolis,None,0.214277,-0.050556,0.023382,1,5

##  Data Transformation

### pivot_table

In [99]:
# Creating a pivot table showing the total payment_value for each seller_state
pivot_basic = pd.pivot_table(df, values='payment_value', index='seller_state', aggfunc='sum').reset_index()
pivot_basic.sort_values(by='payment_value',ascending=False).head()

   seller_state  payment_value
22           SP    13369880.61
15           PR     1846372.26
8            MG     1564757.80
16           RJ     1098242.23
20           SC      886745.47

In [102]:
# Create a pivot table with multiple aggregations: sum of price and mean of freight_value by product_category_name_eng
pivot_multi_agg =  pd.pivot_table(df, values=['price', 'freight_value'],  
                                index='product_category_name_eng',
                                aggfunc={'price': 'sum', 'freight_value': 'mean'}).reset_index()
pivot_multi_agg.head()

    product_category_name_eng  freight_value     price
0  agro_industry_and_commerce      27.646111  83841.95
1            air_conditioning      22.677152  55962.38
2                         art      19.137078  24721.97
3       arts_and_craftmanship      15.422083   1814.01
4                       audio      15.736289  52450.37

In [103]:
# Creating a pivot table with margins to include the total sum
pivot_with_margins = pd.pivot_table(df, values='payment_value',   
                    index='seller_state', aggfunc='sum', margins=True, margins_name='Total').reset_index()
pivot_with_margins.head()

  seller_state  payment_value
0           AC         299.84
1           AM        1258.80
2           BA      367899.46
3           CE       25849.77
4           DF      137784.98

In [104]:
# Creating a pivot table with a custom aggregation function (median) for price
pivot_custom_agg = pd.pivot_table(df, values='price', 
                    index='product_category_name_eng', aggfunc=lambda x: x.median()).reset_index()
pivot_custom_agg.head()

    product_category_name_eng   price
0  agro_industry_and_commerce  299.95
1            air_conditioning  139.99
2                         art   97.50
3       arts_and_craftmanship   44.90
4                       audio   89.00

In [105]:
# Creating a pivot table showing the count of orders for each combination of product_category_name_eng and seller_id
pivot_count_orders = pd.pivot_table(df, values='order_id',
                    index=['product_category_name_eng', 'seller_id'], aggfunc='count').reset_index()
pivot_count_orders.head()

    product_category_name_eng seller_id  order_id
0  agro_industry_and_commerce        -1       252
1            air_conditioning        -1       302
2                         art        -1       219
3       arts_and_craftmanship        -1        24
4                       audio        -1       380

### Cumulative Sum

In [106]:
# Calculating the cumulative sum of price for each seller_id
df['cumulative_price_seller'] = df.groupby('seller_id')['price'].cumsum()
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location,city_part1,city_part2,price_z,freight_value_z,payment_value_z,payment_type_encoded,product_category_label,cumulative_price_seller
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,credit_card,1,18.12,9350,maua,SP,29.99,29.99,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.576790,1,49,29.99
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3,voucher,1,2.00,9350,maua,SP,59.98,59.98,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.636882,2,49,59.98
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18,1,-1,-1,2017-10-06 11:07:00,29.99,8.72,utilidades_domesticas,housewares,500,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2,voucher,1,18.59,9350,maua,SP,89.97,89.97,8,2017,10,8,8,Low,False,"sao paulo, SP",sao,paulo,-0.492256,-0.714744,-0.575038,2,49,89.97
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13,1,-1,-1,2018-07-30 03:24:00,118.70,22.76,perfumaria,perfumery,400,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,boleto,1,141.46,31570,belo horizonte,SP,208.67,208.67,12,2018,7,13,12,High,False,"barreiras, BA",barreiras,None,-0.009795,0.173370,-0.117006,3,59,208.67
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04,1,-1,-1,2018-08-13 08:55:00,159.90,19.22,automotivo,auto,420,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1,credit_card,3,179.12,14840,guariba,SP,368.57,368.57,9,2018,8,9,9,High,False,"vianopolis, GO",vianopolis,None,0.214277,-0.050556,0.023382,1,5,368.57

In [ ]:
# Converting order_purchase_timestamp to datetime and resample to month, then calculate cumulative sum of payment_value
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df.set_index('order_purchase_timestamp', inplace=True)
cumulative_sum_monthly = df['payment_value'].resample('M').cumsum().reset_index()

In [109]:
# Converting order_purchase_timestamp to datetime and resample to month, then calculate cumulative sum of payment_value
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df.set_index('order_purchase_timestamp', inplace=True)
cumulative_sum_monthly = df['payment_value'].resample('M').cumsum().reset_index()

KeyError: 'order_purchase_timestamp'

In [112]:
# Calculating the cumulative sum of freight_value over time
df['cumulative_freight_value'] = df['freight_value'].cumsum()
df[['freight_value', 'cumulative_freight_value']].head()

                          freight_value  cumulative_freight_value
order_purchase_timestamp
2017-10-02 10:56:00                8.72                      8.72
2017-10-02 10:56:00                8.72                     17.44
2017-10-02 10:56:00                8.72                     26.16
2018-07-24 20:41:00               22.76                     48.92
2018-08-08 08:38:00               19.22                     68.14

In [114]:
# Calculating cumulative sum of price with a reset for each new product_id
df['cumulative_price_per_product'] = df.groupby('product_id')['price'].cumsum()
df[['product_id','price', 'cumulative_price_per_product']].head()

                         product_id   price  cumulative_price_per_product
order_purchase_timestamp
2017-10-02 10:56:00              -1   29.99                         29.99
2017-10-02 10:56:00              -1   29.99                         59.98
2017-10-02 10:56:00              -1   29.99                         89.97
2018-07-24 20:41:00              -1  118.70                        208.67
2018-08-08 08:38:00              -1  159.90                        368.57

In [115]:
# Calculating cumulative sum of prices, excluding rows where price is less than 50
df_filtered = df[df['price'] >= 50]
df_filtered['cumulative_price_filtered'] = df_filtered['price'].cumsum()
df_filtered[['price']].head()

C:\Users\user\AppData\Local\Temp\ipykernel_14188\1359465851.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['cumulative_price_filtered'] = df_filtered['price'].cumsum()

                           price
order_purchase_timestamp
2018-07-24 20:41:00       118.70
2018-08-08 08:38:00       159.90
2017-07-09 21:57:00       147.90
2017-05-16 13:10:00        59.99
2017-07-29 11:55:00       149.99

### Rolling Window Calculations Techniques

In [122]:
# Calculating the rolling mean of price with a 2-day window
df['rolling_mean_price'] = df['price'].rolling(window=2).mean()
df[['price', 'rolling_mean_price']].head()

                           price  rolling_mean_price
order_purchase_timestamp
2017-10-02 10:56:00        29.99                 NaN
2017-10-02 10:56:00        29.99              29.990
2017-10-02 10:56:00        29.99              29.990
2018-07-24 20:41:00       118.70              74.345
2018-08-08 08:38:00       159.90             139.300

In [123]:
# Calculating the rolling sum of payment_value with a 30-day window
df['rolling_sum_payment'] = df['payment_value'].rolling(window=30, min_periods=1).sum()
df[["rolling_sum_payment", 'payment_value']].head()

                          rolling_sum_payment  payment_value
order_purchase_timestamp
2017-10-02 10:56:00                     18.12          18.12
2017-10-02 10:56:00                     20.12           2.00
2017-10-02 10:56:00                     38.71          18.59
2018-07-24 20:41:00                    180.17         141.46
2018-08-08 08:38:00                    359.29         179.12

In [125]:
# Calculating the rolling standard deviation of freight_value with a 14-day window
df['rolling_std_freight'] = df['freight_value'].rolling(window=14).std()
df[['rolling_std_freight','freight_value']].head(30)

                          rolling_std_freight  freight_value
order_purchase_timestamp
2017-10-02 10:56:00                       NaN           8.72
2017-10-02 10:56:00                       NaN           8.72
2017-10-02 10:56:00                       NaN           8.72
2018-07-24 20:41:00                       NaN          22.76
2018-08-08 08:38:00                       NaN          19.22
2017-11-18 19:28:00                       NaN          27.20
2018-02-13 21:18:00                       NaN           8.72
2017-07-09 21:57:00                       NaN          27.36
2017-04-11 12:22:00                       NaN          16.05
2017-05-16 13:10:00                       NaN          15.17
2017-01-23 18:29:00                       NaN          16.05
2017-07-29 11:55:00                       NaN          19.77
2017-07-29 11:55:00                       NaN          19.77
2017-05-16 19:41:00                  7.436914          30.53
2017-05-16 19:41:00                  7.676139          30.53
2017-07-13 19:58:00                  7.124170          16.13
2018-06-07 10:06:00                  6.396983          18.23
2018-07-25 17:44:00                  6.678161          12.80
2018-03-01 14:14:00                  6.751110          16.11
2018-06-07 19:03:00                  6.523542          14.05
2018-01-02 19:00:00                 16.578454          77.45
2017-12-26 23:41:00                 16.686388          15.10
2017-11-21 00:03:00                 16.851994          11.85
2017-10-26 15:54:00                 16.799410          16.97
2017-10-26 15:54:00                 16.773916          16.97
2017-10-26 15:54:00                 16.826736          16.97
2017-09-18 14:31:00                 17.200092           8.96
2018-03-15 08:52:00                 17.308595           8.91
2018-02-03 20:37:00                 17.319316           7.78
2018-01-08 07:55:00                 20.196410          57.58

In [140]:
# Calculating the rolling maximum of payment_value over a 16-day window
df['rolling_max_payment'] = df['payment_value'].rolling(window=16).max()
df[['rolling_max_payment', 'payment_value']].head()

                          rolling_max_payment  payment_value
order_purchase_timestamp
2017-10-02 10:56:00                       NaN          18.12
2017-10-02 10:56:00                       NaN           2.00
2017-10-02 10:56:00                       NaN          18.59
2018-07-24 20:41:00                       NaN         141.46
2018-08-08 08:38:00                       NaN         179.12

In [129]:
# Calculate the rolling minimum of price over a 90-day window
df['rolling_min_price'] = df['price'].rolling(window=90).min()
df[["rolling_min_price", "price"]].head()

                          rolling_min_price   price
order_purchase_timestamp
2017-10-02 10:56:00                     NaN   29.99
2017-10-02 10:56:00                     NaN   29.99
2017-10-02 10:56:00                     NaN   29.99
2018-07-24 20:41:00                     NaN  118.70
2018-08-08 08:38:00                     NaN  159.90

### Shift Values Techniques

In [132]:
# Shifting price values by 1 row to show the previous order's price
df['previous_price'] = df['price'].shift(1)
df[["previous_price", "price"]].head()

                          previous_price   price
order_purchase_timestamp
2017-10-02 10:56:00                  NaN   29.99
2017-10-02 10:56:00                29.99   29.99
2017-10-02 10:56:00                29.99   29.99
2018-07-24 20:41:00                29.99  118.70
2018-08-08 08:38:00               118.70  159.90

In [133]:
# Shifting payment_value by 3 rows to compare with the payment value from 3 rows ago
df['payment_value_shift_3'] = df['payment_value'].shift(3)
df[['payment_value_shift_3', 'payment_value']].head()

                          payment_value_shift_3  payment_value
order_purchase_timestamp
2017-10-02 10:56:00                         NaN          18.12
2017-10-02 10:56:00                         NaN           2.00
2017-10-02 10:56:00                         NaN          18.59
2018-07-24 20:41:00                       18.12         141.46
2018-08-08 08:38:00                        2.00         179.12

In [137]:
# Creating lagging features for order_purchase_timestamp to compare with the date from the previous row
df['previous_order_date'] = df['order_delivered_customer_date'].shift(1)
df[['order_delivered_customer_date', 'previous_order_date']].head()

                         order_delivered_customer_date previous_order_date
order_purchase_timestamp
2017-10-02 10:56:00                2017-10-10 21:25:00                 NaT
2017-10-02 10:56:00                2017-10-10 21:25:00 2017-10-10 21:25:00
2017-10-02 10:56:00                2017-10-10 21:25:00 2017-10-10 21:25:00
2018-07-24 20:41:00                2018-08-07 15:27:00 2017-10-10 21:25:00
2018-08-08 08:38:00                2018-08-17 18:06:00 2018-08-07 15:27:00

In [138]:
# Calculating the change in price compared to the previous row
df['price_change'] = df['price'].diff()
df[["price_change", "price"]].head()

                          price_change   price
order_purchase_timestamp
2017-10-02 10:56:00                NaN   29.99
2017-10-02 10:56:00               0.00   29.99
2017-10-02 10:56:00               0.00   29.99
2018-07-24 20:41:00              88.71  118.70
2018-08-08 08:38:00              41.20  159.90

In [139]:
# Creating a lagging feature for freight_value by 2 rows
df['freight_value_lag_2'] = df['freight_value'].shift(2)
df[["freight_value", "freight_value_lag_2"]].head()

                          freight_value  freight_value_lag_2
order_purchase_timestamp
2017-10-02 10:56:00                8.72                  NaN
2017-10-02 10:56:00                8.72                  NaN
2017-10-02 10:56:00                8.72                 8.72
2018-07-24 20:41:00               22.76                 8.72
2018-08-08 08:38:00               19.22                 8.72

##  Outlier Detection

In [142]:
# Calculating Q1 and Q3 for 'price'
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier boundaries
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df['price'] < lower_bound) | (df['price'] > upper_bound)]

outliers.head()

,order_id,customer_id,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location,city_part1,city_part2,price_z,freight_value_z,payment_value_z,payment_type_encoded,product_category_label,cumulative_price_seller,cumulative_freight_value,cumulative_price_per_product,rolling_mean_price,rolling_sum_payment,rolling_std_freight,rolling_max_payment,rolling_min_price,previous_price,payment_value_shift_3,previous_order_date,price_change,freight_value_lag_2
order_purchase_timestamp,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-01-02 19:00:00,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,2018-01-02 19:09:00,2018-01-03 18:19:00,2018-01-20 01:38:00,2018-02-06,1,-1,-1,2018-01-12 19:09:00,1299.0,77.45,construcao_ferramentas_construcao,construction_tools_construction,20850,6e26bbeaa107ec34112c64e1ee31c0f5,21381,rio de janeiro,RJ,1,credit_card,10,1376.45,8840,mogi das cruzes,SP,2828.59,2828.59,17,2018,1,17,17,NaN,False,"rio de janeiro, RJ",rio,de janeiro,6.409424,3.632840,4.486757,1,17,2828.59,434.06,2828.59,715.700,3274.53,16.578454,1376.45,NaN,132.40,32.70,2018-06-21 15:34:00,1166.60,16.11
2017-08-10 11:58:00,f70a0aff17df5a6cdd9a7196128bd354,456dc10730fbdba34615447ea195d643,delivered,2017-08-12 02:45:00,2017-08-17 15:35:00,2017-08-18 14:28:00,2017-08-23,1,-1,-1,2017-08-17 02:45:00,279.0,34.19,bebes,baby,16450,1974875b4a1d2e2ee6d586e3ba4d7602,5634,sao paulo,SP,1,boleto,1,313.19,13450,santa barbara dÂ´oeste,SP,4298.05,4298.05,6,2017,8,8,6,NaN,False,"sao paulo, SP",sao,paulo,0.862018,0.896386,0.523164,3,6,4298.05,816.08,4298.05,154.550,4532.38,16.975456,313.19,NaN,30.10,60.69,2018-03-27 23:29:00,248.90,13.69
2018-06-01 12:23:00,434d158e96bdd6972ad6e6d73ddcfd22,2a1dfb647f32f4390e7b857c67458536,delivered,2018-06-05 03:35:00,2018-06-08 11:49:00,2018-06-18 21:32:00,2018-07-17,1,-1,-1,2018-06-13 03:35:00,445.0,63.17,beleza_saude,health_beauty,683,5f7d7732b351ce851a158528581af05f,54330,jaboatao dos guararapes,PE,1,boleto,1,508.17,87303,campo mourao,PR,5388.65,5388.65,13,2018,6,17,13,NaN,False,"jaboatao dos guararapes, PE",jaboatao,dos guararapes,1.764831,2.729545,1.250005,3,43,5388.65,1027.05,5388.65,236.450,4854.88,16.526980,508.17,NaN,27.90,106.95,2017-08-08 21:24:00,417.10,26.89
2017-11-24 21:27:00,6ea2f835b4556291ffdc53fa0b3b95e8,c7340080e394356141681bd4c9b8fe31,delivered,2017-11-25 00:21:00,2017-12-13 21:14:00,2017-12-28 18:59:00,2017-12-21,1,-1,-1,2017-11-30 00:21:00,339.0,17.12,utilidades_domesticas,housewares,14300,3e4fd73f1e86b135b9b121d6abbe9597,19400,presidente venceslau,SP,1,credit_card,10,356.12,89165,rio do sul,SC,5884.54,5884.54,33,2017,11,33,33,NaN,False,"presidente venceslau, SP",presidente,venceslau,1.188336,-0.183394,0.683197,1,49,5884.54,1091.16,5884.54,229.495,5277.69,14.600992,508.17,NaN,119.99,508.17,2017-05-31 13:58:00,219.01,12.79
2017-12-15 00:06:00,641fb0752bf5b5940c376b3a8bb9dc52,f5afca14dfa9dc64251cf2b45c54c363,delivered,2017-12-15 00:14:00,2017-12-19 01:58:00,2018-01-03 15:09:00,2018-01-16,1,-1,-1,2017-12-21 00:14:00,369.0,17.33,relogios_presentes,watches_gifts,394,38cad70d154a4dcc42b598d5c01f7ef1,25211,duque de caxias,RJ,1,credit_card,10,386.33,14850,pradopolis,SP,7044.54,7044.54,19,2017,12,19,19,NaN,False,"duque de caxias, RJ",duque,de caxias,1.351495,-0.170110,0.795813,1,71,7044.54,1306.60,7044.54,214.500,4473.31,4.300100,386.33,NaN,60.00,71.91,2018-07-31 22:26:00,309.00,15.52

In [143]:
 # Calculate Z-Score
# Calculating z-score for 'payment_value'
df['z_score_payment'] = (df['payment_value'] - df['payment_value'].mean()) / df['payment_value'].std()

# Identify extreme values (e.g., |z| > 3)
extreme_payments = df[df['z_score_payment'].abs() > 3]
extreme_payments.head()

,order_id,customer_id,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location,city_part1,city_part2,price_z,freight_value_z,payment_value_z,payment_type_encoded,product_category_label,cumulative_price_seller,cumulative_freight_value,cumulative_price_per_product,rolling_mean_price,rolling_sum_payment,rolling_std_freight,rolling_max_payment,rolling_min_price,previous_price,payment_value_shift_3,previous_order_date,price_change,freight_value_lag_2,z_score_payment
order_purchase_timestamp,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-01-02 19:00:00,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,2018-01-02 19:09:00,2018-01-03 18:19:00,2018-01-20 01:38:00,2018-02-06,1,-1,-1,2018-01-12 19:09:00,1299.00,77.45,construcao_ferramentas_construcao,construction_tools_construction,20850,6e26bbeaa107ec34112c64e1ee31c0f5,21381,rio de janeiro,RJ,1,credit_card,10,1376.45,8840,mogi das cruzes,SP,2828.59,2828.59,17,2018,1,17,17,NaN,False,"rio de janeiro, RJ",rio,de janeiro,6.409424,3.632840,4.486757,1,17,2828.59,434.06,2828.59,715.700,3274.53,16.578454,1376.45,NaN,132.40,32.70,2018-06-21 15:34:00,1166.60,16.11,4.486757
2017-09-13 15:07:00,f04bfdbef5359607d39e66fccc9cc0de,ddbd5d378c4a0981ba1ef29fb8e40b8f,delivered,2017-09-13 15:25:00,2017-09-14 19:27:00,2017-09-22 16:48:00,2017-10-04,1,-1,-1,2017-09-19 15:25:00,217.85,129.84,casa_construcao,home_construction,544,74182c655b0270d9dde23ca43bb16a2e,75533,itumbiara,GO,1,credit_card,1,998.49,13403,piracicaba,SP,41104.94,41104.94,9,2017,9,9,9,NaN,False,"itumbiara, GO",itumbiara,None,0.529445,6.946822,3.077807,1,48,41104.94,6942.23,41104.94,231.875,5604.14,30.255273,998.49,9.9,245.90,40.86,2018-02-28 08:57:00,-28.05,31.97,3.077807
2017-09-13 15:07:00,f04bfdbef5359607d39e66fccc9cc0de,ddbd5d378c4a0981ba1ef29fb8e40b8f,delivered,2017-09-13 15:25:00,2017-09-14 19:27:00,2017-09-22 16:48:00,2017-10-04,2,-1,-1,2017-09-19 15:25:00,142.90,8.66,construcao_ferramentas_seguranca,construction_tools_safety,300,74182c655b0270d9dde23ca43bb16a2e,75533,itumbiara,GO,1,credit_card,1,998.49,17504,marilia,SP,41247.84,41247.84,9,2017,9,9,9,High,False,"itumbiara, GO",itumbiara,None,0.121820,-0.718540,3.077807,1,19,41247.84,6950.89,41247.84,180.375,6183.51,30.580096,998.49,9.9,217.85,206.87,2017-09-22 16:48:00,-74.95,16.47,3.077807
2017-09-13 15:07:00,f04bfdbef5359607d39e66fccc9cc0de,ddbd5d378c4a0981ba1ef29fb8e40b8f,delivered,2017-09-13 15:25:00,2017-09-14 19:27:00,2017-09-22 16:48:00,2017-10-04,3,-1,-1,2017-09-19 15:25:00,142.90,8.66,construcao_ferramentas_seguranca,construction_tools_safety,300,74182c655b0270d9dde23ca43bb16a2e,75533,itumbiara,GO,1,credit_card,1,998.49,17504,marilia,SP,41390.74,41390.74,9,2017,9,9,9,High,False,"itumbiara, GO",itumbiara,None,0.121820,-0.718540,3.077807,1,19,41390.74,6959.55,41390.74,142.900,7139.73,30.925866,998.49,9.9,142.90,262.37,2017-09-22 16:48:00,0.00,129.84,3.077807
2017-09-13 15:07:00,f04bfdbef5359607d39e66fccc9cc0de,ddbd5d378c4a0981ba1ef29fb8e40b8f,delivered,2017-09-13 15:25:00,2017-09-14 19:27:00,2017-09-22 16:48:00,2017-10-04,4,-1,-1,2017-09-19 15:25:00,217.85,129.84,casa_construcao,home_construction,544,74182c655b0270d9dde23ca43bb16a2e,75533,itumbiara,GO,1,credit_card,1,998.49,13403,piracicaba,SP,41608.59,41608.59,9,2017,9,9,9,NaN,False,"itumbiara, GO",itumbiara,None,0.529445,6.946822,3.077807,1,48,41608.59,7089.39,41608.59,180.375,8043.48,41.449692,998.49,9.9,142.90,998.49,2017-09-22 16:48:00,74.95,8.66,3.077807

## String Operations and Matching

In [149]:
# Filtering rows where 'product_category_name_eng' contains 'electronics' (case-insensitive)
df_electronics = df[df['product_category_name_eng'].str.contains('electronics', case=False, na=False)]
df_electronics['product_category_name_eng'].head()

order_purchase_timestamp
2018-02-03 20:37:00    electronics
2018-02-21 18:15:00    electronics
2018-07-15 12:37:00    electronics
2017-11-06 18:20:00    electronics
2017-11-06 18:20:00    electronics
Name: product_category_name_eng, dtype: object

In [152]:
# Finding rows where 'customer_city' contains 'Rio' (case-insensitive)
df_rio = df[df['customer_city'].str.contains('Rio', case=False, na=False)]
df_rio['customer_city'].head()

order_purchase_timestamp
2017-05-16 19:41:00    rio de janeiro
2017-05-16 19:41:00    rio de janeiro
2018-01-02 19:00:00    rio de janeiro
2018-02-20 23:46:00    rio de janeiro
2017-05-18 13:55:00    rio de janeiro
Name: customer_city, dtype: object

## Correlation Analysis

In [155]:
# Calculating Pearson correlation between 'price' and 'freight_value'
correlation = df[['price', 'freight_value']].corr()
correlation

                  price  freight_value
price          1.000000       0.416054
freight_value  0.416054       1.000000

In [156]:
# Calculating correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

# Find columns with correlation > 0.8
highly_corr = [column for column in upper.columns if any(upper[column] > 0.8)]
print(f"Highly correlated columns: {highly_corr}")

ValueError: could not convert string to float: 'e481f51cbdc54678b7cc49136f2d6af7'

##  Quantile-Based Filtering

In [157]:
# Calculating the 90th percentile of 'price'
price_90th = df['price'].quantile(0.9)

# Filter rows with 'price' >= 90th percentile
top_10_percent = df[df['price'] >= price_90th]
top_10_percent.head()

,order_id,customer_id,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_category_name_eng,product_weight_g,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,cumsum_price,cumulative_price,delivery_time_days,order_year,order_month,delivery_days,delivery_time,price_category,fast_delivery,location,city_part1,city_part2,price_z,freight_value_z,payment_value_z,payment_type_encoded,product_category_label,cumulative_price_seller,cumulative_freight_value,cumulative_price_per_product,rolling_mean_price,rolling_sum_payment,rolling_std_freight,rolling_max_payment,rolling_min_price,previous_price,payment_value_shift_3,previous_order_date,price_change,freight_value_lag_2,z_score_payment
order_purchase_timestamp,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-01-02 19:00:00,403b97836b0c04a622354cf531062e5f,738b086814c6fcc74b8cc583f8516ee3,delivered,2018-01-02 19:09:00,2018-01-03 18:19:00,2018-01-20 01:38:00,2018-02-06,1,-1,-1,2018-01-12 19:09:00,1299.0,77.45,construcao_ferramentas_construcao,construction_tools_construction,20850,6e26bbeaa107ec34112c64e1ee31c0f5,21381,rio de janeiro,RJ,1,credit_card,10,1376.45,8840,mogi das cruzes,SP,2828.59,2828.59,17,2018,1,17,17,NaN,False,"rio de janeiro, RJ",rio,de janeiro,6.409424,3.632840,4.486757,1,17,2828.59,434.06,2828.59,715.700,3274.53,16.578454,1376.45,NaN,132.40,32.70,2018-06-21 15:34:00,1166.60,16.11,4.486757
2017-08-10 11:58:00,f70a0aff17df5a6cdd9a7196128bd354,456dc10730fbdba34615447ea195d643,delivered,2017-08-12 02:45:00,2017-08-17 15:35:00,2017-08-18 14:28:00,2017-08-23,1,-1,-1,2017-08-17 02:45:00,279.0,34.19,bebes,baby,16450,1974875b4a1d2e2ee6d586e3ba4d7602,5634,sao paulo,SP,1,boleto,1,313.19,13450,santa barbara dÂ´oeste,SP,4298.05,4298.05,6,2017,8,8,6,NaN,False,"sao paulo, SP",sao,paulo,0.862018,0.896386,0.523164,3,6,4298.05,816.08,4298.05,154.550,4532.38,16.975456,313.19,NaN,30.10,60.69,2018-03-27 23:29:00,248.90,13.69,0.523164
2018-06-01 12:23:00,434d158e96bdd6972ad6e6d73ddcfd22,2a1dfb647f32f4390e7b857c67458536,delivered,2018-06-05 03:35:00,2018-06-08 11:49:00,2018-06-18 21:32:00,2018-07-17,1,-1,-1,2018-06-13 03:35:00,445.0,63.17,beleza_saude,health_beauty,683,5f7d7732b351ce851a158528581af05f,54330,jaboatao dos guararapes,PE,1,boleto,1,508.17,87303,campo mourao,PR,5388.65,5388.65,13,2018,6,17,13,NaN,False,"jaboatao dos guararapes, PE",jaboatao,dos guararapes,1.764831,2.729545,1.250005,3,43,5388.65,1027.05,5388.65,236.450,4854.88,16.526980,508.17,NaN,27.90,106.95,2017-08-08 21:24:00,417.10,26.89,1.250005
2017-11-24 21:27:00,6ea2f835b4556291ffdc53fa0b3b95e8,c7340080e394356141681bd4c9b8fe31,delivered,2017-11-25 00:21:00,2017-12-13 21:14:00,2017-12-28 18:59:00,2017-12-21,1,-1,-1,2017-11-30 00:21:00,339.0,17.12,utilidades_domesticas,housewares,14300,3e4fd73f1e86b135b9b121d6abbe9597,19400,presidente venceslau,SP,1,credit_card,10,356.12,89165,rio do sul,SC,5884.54,5884.54,33,2017,11,33,33,NaN,False,"presidente venceslau, SP",presidente,venceslau,1.188336,-0.183394,0.683197,1,49,5884.54,1091.16,5884.54,229.495,5277.69,14.600992,508.17,NaN,119.99,508.17,2017-05-31 13:58:00,219.01,12.79,0.683197
2017-12-15 00:06:00,641fb0752bf5b5940c376b3a8bb9dc52,f5afca14dfa9dc64251cf2b45c54c363,delivered,2017-12-15 00:14:00,2017-12-19 01:58:00,2018-01-03 15:09:00,2018-01-16,1,-1,-1,2017-12-21 00:14:00,369.0,17.33,relogios_presentes,watches_gifts,394,38cad70d154a4dcc42b598d5c01f7ef1,25211,duque de caxias,RJ,1,credit_card,10,386.33,14850,pradopolis,SP,7044.54,7044.54,19,2017,12,19,19,NaN,False,"duque de caxias, RJ",duque,de caxias,1.351495,-0.170110,0.795813,1,71,7044.54,1306.60,7044.54,214.500,4473.31,4.300100,386.33,NaN,60.00,71.91,2018-07-31 22:26:00,309.00,15.52,0.795813

## Data Resampling

In [158]:
# Ensure 'order_purchase_timestamp' is datetime and set as index
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df.set_index('order_purchase_timestamp', inplace=True)

# Resample by month and sum 'payment_value'
df_monthly = df.resample('M')['payment_value'].sum().reset_index()

# Reset index if necessary
df.reset_index(inplace=True)
df_monthly.head()

KeyError: 'order_purchase_timestamp'

## Count Distinct Values

In [164]:
# Count distinct 'customer_id'
distinct_customers = df['customer_id'].nunique()
print(f"Number of distinct customers: {distinct_customers}")

Number of distinct customers: 99441

## Data sorting

In [163]:
# Sorting 'order_purchase_timestamp' ascending and 'price' descending
df_sorted = df.sort_values(by=['order_purchase_timestamp', 'price'], ascending=[True, False])
df_sorted['price'].head()

order_purchase_timestamp
2016-09-04 21:15:00    39.99
2016-09-04 21:15:00    32.90
2016-09-05 00:15:00    59.50
2016-09-13 15:24:00    74.90
2016-09-15 12:16:00    44.99
Name: price, dtype: float64

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118434 entries, 2017-10-02 10:56:00 to 2018-03-08 20:57:00
Data columns (total 58 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_approved_at              118434 non-null  datetime64[ns]
 4   order_delivered_carrier_date   118434 non-null  datetime64[ns]
 5   order_delivered_customer_date  118434 non-null  datetime64[ns]
 6   order_estimated_delivery_date  118434 non-null  datetime64[ns]
 7   order_item_id                  118434 non-null  int64
 8   product_id                     118434 non-null  object
 9   seller_id                      118434 non-null  object
 10  shipping_limit_date            118434 non-null  datetime64[ns]
 11  price                          118434 non-null  float64
 12  freight_value                  118434 non-null  float64
 13  product_category_name          118434 non-null  object
 14  product_category_name_eng      118434 non-null  object
 15  product_weight_g               118434 non-null  int64
 16  customer_unique_id             118434 non-null  object
 17  customer_zip_code_prefix       118434 non-null  object
 18  customer_city                  118434 non-null  object
 19  customer_state                 118434 non-null  object
 20  payment_sequential             118434 non-null  int64
 21  payment_type                   118434 non-null  object
 22  payment_installments           118434 non-null  int64
 23  payment_value                  118434 non-null  float64
 24  seller_zip_code_prefix         118434 non-null  object
 25  seller_city                    118434 non-null  object
 26  seller_state                   118434 non-null  object
 27  cumsum_price                   118434 non-null  float64
 28  cumulative_price               118434 non-null  float64
 29  delivery_time_days             118434 non-null  int64
 30  order_year                     118434 non-null  int32
 31  order_month                    118434 non-null  int32
 32  delivery_days                  118434 non-null  int64
 33  delivery_time                  118434 non-null  int64
 34  price_category                 104432 non-null  category
 35  fast_delivery                  118434 non-null  bool
 36  location                       118434 non-null  object
 37  city_part1                     118434 non-null  object
 38  city_part2                     61389 non-null   object
 39  price_z                        118434 non-null  float64
 40  freight_value_z                118434 non-null  float64
 41  payment_value_z                118434 non-null  float64
 42  payment_type_encoded           118434 non-null  int64
 43  product_category_label         118434 non-null  int32
 44  cumulative_price_seller        118434 non-null  float64
 45  cumulative_freight_value       118434 non-null  float64
 46  cumulative_price_per_product   118434 non-null  float64
 47  rolling_mean_price             118433 non-null  float64
 48  rolling_sum_payment            118434 non-null  float64
 49  rolling_std_freight            118421 non-null  float64
 50  rolling_max_payment            118419 non-null  float64
 51  rolling_min_price              118345 non-null  float64
 52  previous_price                 118433 non-null  float64
 53  payment_value_shift_3          118431 non-null  float64
 54  previous_order_date            118433 non-null  datetime64[ns]
 55  price_change                   118433 non-null  float64
 56  freight_value_lag_2            118432 non-null  float64
 57  z_score_payment                118434 non-null  float64
dtypes: bool(1), category(1), datetime64[ns](6), float64(21), int32(3), int64(8), object(18)
memory usage: 50.4+ MB

In [168]:
# Saving the manipulated data 
df.to_csv(r"C:\Users\user\Desktop\#\DA\practice\python\E - commerce\cleaned_data sets\EDA.csv")